.header-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header-text {
    background-color: #ff864d;
    padding: 10px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px gray
}
