.add-another-platform {
    margin: 10px;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.add-another-platform-btn {
    color: white;
    background-color: #4FCF5E;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    outline: none;
    border: none;
}

.platform-submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.create-campaign-budget-reach {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.create-campaign-budget-container {
    margin: 10px;
    padding: 10px;
    width: 40%;
    color: #fff;
    background-color: #00ACEA;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.create-campaign-reach-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    color: #fff;
    background-color: #00ACEA;
    border-radius: 10px;
}

.add-another-platform-btn:disabled {
    background-color: lightslategrey;
    cursor: not-allowed;
}

.create-campaign-channel-saved {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: large;
    font-weight: 700;
}

.create-campaign-channel-detail-saved {
    margin-left: 10%;
    padding-top: 10px;
}

.create-campaign-channel-discard-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.create-campaign-channel-text {
    font-size: medium;
    font-weight: 600;
}

.socialmedia-card-footer-edit-button {
    display: flex;
    justify-content: center;
    width: 20%;
    outline: none;
    border: none;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    margin-top: 20px;
    background-color: #00ACEA;
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
}

.socialmedia-card-footer-discard-button {
    display: flex;
    justify-content: center;
    width: 20%;
    outline: none;
    border: none;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    margin-top: 20px;
    background-color: #F44336;
    color: #fff;
    cursor: pointer;
}
