table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    align-self: center;
    vertical-align: baseline !important;
}

th, td {
    padding: 15px;
}

table, thead, tr, th {
    padding: 10px 0
}
