.campaign-types-container {
    margin-top: 40px;
}

.campaign-name-type {
    display: flex;
    justify-content: center;
}

.campaign-name {
    background-color: #273440;
    width: 65%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
}

.campaign-type {
    background-color: #273440;
    width: 35%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
}

.campaign-social-media-platform {
    background-color: #273440;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
}

.title-name {
    color: #FF864D;
    font-size: x-small;
}

.content-name {
    color: azure;
    font-size: large;
}

.container-campaign-types {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.campaign-types-upload-description {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

.description-campaign-types {
    width: 60%;
}

.campaign-types-upload {
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid #cdcfd1;
    border-radius: 5px;
}

.campaign-types-upload-options-text {
    text-transform: capitalize;
}

.terms-condition-campaign-types {
    border: 1px solid #cdcfd1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.terms-condition {
    display: flex;
    justify-content: center;
}

.terms-condition-text {
    border: 1px solid #cdcfd1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.terms-condition-align-image {
    display: flex;
    justify-content: center;
}

.tag-container {
    border: 1px solid #cdcfd1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.tags-image-text {
    display: inline-block;
}

.tags-text {
    border: 1px solid #cdcfd1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.approve-submission-campaign-types {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #4C71F0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.submission-approval-campaign-types {
    display: flex;
    justify-content: center;
}

.select-tick {
    width: 10px;
    height: 10px;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.select-tick-green {
    width: 10px;
    height: 10px;
    background-color: #3BB54A;
    border: 3px solid #fff;
    padding: 7px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.header-image-style {
    display: flex;
    justify-content: center;
}

.campaign-types-upload-options {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 20px;
}

.footer-submit-btn {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding-top: 20px;
}

.tag-container-campaign-type {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tag-text {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 5px;
    cursor: pointer;
}

.terms-condition-input-text-change {
    width: 100%;
    border: none;
    outline: none;
}

.campaign-types-upload-options-text {
    display: flex;
    justify-content: center;
}
