.statistic-header-tabs {
    display: flex;
    justify-content: center;
}

.statistic-title-tabs {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 20%;
    text-align: center;
}

.statistic-footer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin: 10px;
}
