.company-name {

    font-size: 30px;
}

.text-red {
    color: red;
}

.background-red {
    background-color: red;
    color: white;
}

.balance-due-background {
    background-color: #ff7d7d;
}

.balance-due-text {
    font-size: 15px;
}

.invoice-table-logo {
    margin-top: 22px;
    width: 210px;
    height: 140px;
    padding-bottom: 55px;
    margin-right: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.border_bottom_invoice_table {
    border-bottom: 1px solid #e2e2e2;
}
