.company-signup-container {
    animation-name: myanimation;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

@keyframes myanimation {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

.signup-sub-container1 {
    background-color: #fafafa;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.imgPreview {
    text-align: center;
    margin: 5px 15px;
    border: 1px dotted #707070;
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.fileInput {
}

.submitButton {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: background-color 0.5s ease;
}

.submitButton:active {
    background-color: #f15d22;
}

.submitButton:hover {
    background-color: #f15d22;
}

.company-signup-choose-file {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.company-signup-upload-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.company-signup-upload-container {
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    align-content: center;

}

.comapny-signup-select-conatiner {
    margin-right: 30px;
    background-color: #4C71F0;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.company-signup-sub-container1-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.select-option {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    outline: none;
}

[type = "file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
}

[type="file"] + label {
    background-color: #f0f0f0;
    outline: none;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #ffffff;
    transition: background-color 1s ease-in-out;
}

[type="file"]:focus + label {
    outline: none;
    border: none;
    /* outline: -webkit-focus-ring-color auto 5px; */
}

.input-container1 {
    margin-left: 5%;
    margin-top: 30px;
    margin-right: 5%;
    justify-content: center;
    display: flex;
}

.previewText {
    color: #000;
    display: flex;
    justify-content: center;
    padding-top: 40%;
}

.input-field {
    width: 45%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 15px;
}

.input-field::placeholder {
    color: #f15d22;
}

.company-signup-sub-conatiner2-input {
    width: 90%;

}

.company-signup-sub-conatiner2-upload {
    width: 25%;

}

.input-container2 {
    margin-left: 5%;
    margin-right: 5%;
}

.url-input-field {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 15px;
}

.address-input-field {
    outline: none;
    border: none;
    margin-left: 10px;
    padding-left: 10px;
    box-shadow: 0px 0px 3px 0px #707070;
}

.url-input-field::placeholder {
    color: #f15d22;
}

.address-input-field::placeholder {
    color: #f15d22;
}

.input-container3 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.social-media-platform {
    width: 20%;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-profile-link {
    padding-left: 5px;
    width: 70%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    border: none;
    outline: none;
}

.input-container4 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.input-field-container4 {
    width: 35%;
    height: 40px;
    box-shadow: 0px 0px 3px 0px #707070;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    outline: none;
    padding-left: 10px;
    background-color: #fff;

}

.input-field-otp-container4 {
    border: none;
    height: 40px;
    outline: none;
    width: 70%;
}

.resend-btn {
    margin-left: 10%;
    color: #f15d22;
    cursor: pointer;
}

.company-signup-request-btn {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px 0px #707070;
    background-color: #50CF5C;
    color: #fff;
}

.signup-sub-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.input-field-container4::placeholder {
    color: #f15d22;
}

.image {
    width: 100%;
    height: 100%;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

[disabled=true] {
    opacity: 0.5;
    cursor: not-allowed;
}

.company-signup-confirm-password {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
    padding-top: 10px;
    color: red;
    font-size: small;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
