.campaign-summary-container {
    margin-top: 40px;
}

.campaign-summary-body-container {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    padding-bottom: 30px;
    padding-top: 10px;
}

.campaign-summary-tabs {
    background-color: #273440;
    border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 10px;
}

.campaign-title {
    color: azure;
    font-size: x-small;
}

.campaign-content {
    color: #FF864D;
    font-size: medium;
    margin-top: 10px;
    padding: 10px;
}

.campaign-summary-tabs1 {
    background-color: #273440;
    border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 10px;
    width: 50%;
}

.campaign-type-sub-container1 {
    justify-content: center;
    display: flex;
}

.campaign-type-sub-container2 {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.campaign-summary-tabs2 {
    background-color: #273440;
    border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 20%;
}

.campaign-type-sub-tabs3 {
    background-color: #273440;
    border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.campaign-summary-channel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campaign-summary-channel-container {
    box-shadow: 0px 0px 2px 0px #707070;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.campaign-summary-total {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 50%;
}

.campaign-summary-total-tabs {
    background-color: #273440;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.campaign-header-title {
    color: azure;
    font-size: small;
}

.campaign-summary-total-amount {
    border-radius: 10px;
    background-color: #FF864D;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 30%;
}

.campaign-summary-footer-btn {
    display: flex;
    justify-content: center;
}

.campaign-summary-accept-terms {
    background-color: #FF864D;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.accept-terms-tick {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.accept-terms-tick-green {
    width: 5px;
    height: 5px;
    background-color: #3BB54A;
    border: 3px solid #fff;
    padding: 7px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.campaign-summary-make-payment {
    background-color: #4FCF5E;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40%;
    display: flex;
    justify-content: center;
}

.campaign-content-subscribers {
    color: #FF864D;
    font-size: small;
    margin-top: 10px;
    padding: 10px;
}

.make-payment-btn {
    outline: none;
    background-color: #4FCF5E;
    color: azure;
    font-size: medium;
    border: none;
    cursor: pointer;
}
