.campaign-metadata-input-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

.campaign-metadata-approval {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #4C71F0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    align-items: center;
}

.campaign-metadata-input-fileds {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.campaign-metadata-input-fileds-shared {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;

}

.campaign-metadata-input {
    width: 45%;
}

.campaign-metadata-footer-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-style-campaign-metadata {
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    height: 60px;
}

.campaign-metadata-upload {
    width: 100%;
    display: block;
    margin-left: 30%;
    margin-top: 10px;
    padding: 10px;
}

.campaign-metadata-upload-option {

}
