.influencer-signup-container {
    background-color: #fafafa;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.input-container-1 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.influencer-signup-basic-info-container {
    width: 80%;
}

.name-input-field {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 10px;
    box-shadow: 0px 0px 3px 0px #707070;
}

.email-id-input-field {
    width: 43%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    padding-left: 10px;
    height: 50px;
    border: none;
    outline: none;
}

.gender-input-field {
    width: 43%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707077;
    padding-left: 10px;
    height: 50px;
    outline: none;
    border: none;
    margin-left: 20px;
}

.input-container-3 {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.password-input-field {
    width: 38%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707077;
    padding-left: 10px;
    height: 50px;
    outline: none;
    border: none;
}

.confirm-password-input-field {
    width: 39%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    padding-left: 10px;
    height: 50px;
    border: none;
    outline: none;
    margin-left: 20px;
}

.input-container-4 {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.phone-number-input-field {
    width: 38%;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px #707770;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 50px;
}

.influencer-address-input-field {
    width: 39%;
    margin-left: 20px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    border: none;
    outline: none;
    padding-left: 10px;
}

.enter-otp-input-field {
    width: 38%;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px #707770;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 50px;
}

.pincode-input-field {
    width: 39%;
    margin-left: 20px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    border: none;
    outline: none;
    padding-left: 10px;
}

.input-container-5 {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.bank-name-input-field {
    width: 38%;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px #707770;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 50px;
}

.bank-account-number-input-field {
    width: 39%;
    margin-left: 20px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    border: none;
    outline: none;
    padding-left: 10px;
}

.pan-card-number-input-field {
    width: 39%;
    margin-left: 20px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    border: none;
    outline: none;
    padding-left: 10px;
}

.ifsc-code-input-field {
    width: 38%;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px #707770;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 50px;
}

.website-link-url-input-field {
    width: 80%;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    box-shadow: 0px 0px 3px 0px #707070;
    outline: none;
    border: none;
}

.create-account-btn {
    margin-top: 30px;
    width: 30%;
    height: 50px;
    background-color: #50CF5C;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    font-size: medium;
}

.input-container-button {
    display: flex;
    justify-content: center;
}

.influencer-signup-upload-text {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
