.campaign-basic-details-col1 {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.campaign-basic-details-comp-1 {
    border: 1px solid #707070;
    width: 400px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.campaign-basic-details-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.campaign-basic-details-lebel-01 {
    margin-right: 20px;
    font-size: large;
    color: #707070;
}

.campaign-basic-detail-comp-2 {
    width: 60%;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #707070;
    outline: none;
    height: 50px;
    padding-left: 10px;
}

.campaign-basic-detail-col3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.campaign-basic-detail-col4 {
    margin-left: 20%;
}

.campaign-basic-details-col4 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.campaign-basic-details-col5 {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
}

.campaign-basic-details-lebel-02 {
    margin-right: 30px;
    padding-top: 3px;
}

.campaign-basic-details-col6 {
    display: flex;
    justify-content: center;
}

.campaign-basic-details-comp3 {
    width: 200px;
}

.campaign-basic-details-col7 {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

.campaign-basic-details-lebel-03 {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 700;
    margin-top: 10px;
}

.campaign-basic-detail-comp4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.campaign-basic-details-col8 {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #e6e8eb;
}

.campaign-basic-details-col9 {
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.campaign-basic-details-col10 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.campaign-basic-details-lebel-04 {
    padding-right: 10px;
    align-self: center;
}

.campaign-basic-detail-comp5 {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.campaign-basic-details-lebel-05 {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.campaign-basic-details-col11 {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.campaign-basic-details-label-06 {
    color: #fff;
    align-self: center;
    font-size: large;
}

.campaign-basic-detail-comp6 {
    width: 20%;
    margin-left: 40px;
}

.campaign-basic-details-col12 {
    background-color: #4C71F0;
    width: 20%;
    margin: 10px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
}

.campaign-basic-details-col13 {
    display: flex;
    justify-content: center;
}

.campaign-basic-details-col14 {
    display: flex;
    justify-content: center;
}

.campaign-basic-details-col15 {
    background-color: #4C71F0;
    width: 60%;
    margin: 10px;
    margin-left: 20px;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
}

.campaign-basic-details-col16 {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    background-color: #4C71F0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: medium;
}

.campaign-basic-details-col17 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.campaign-basic-details-col18 {
    display: flex;
    background-color: #4C71F0;
    padding: 10px;
    color: #fff;
    margin-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

.campaign-basic-details-col19 {
    display: flex;
    background-color: #4C71F0;
    padding: 10px;
    color: #fff;
    margin-top: 1px;
    align-items: center;
    justify-content: space-around;
}

.campaign-basic-details-col20 {
    display: flex;
    background-color: #4C71F0;
    padding: 10px;
    color: #fff;
    margin-top: 1px;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
