.influencer-profile-page-col1 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

[type = "file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
}

[type="file"] + label {
    background-color: #f0f0f0;
    outline: none;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 100px;
    width: 100px;
    border-radius: 4px;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #707070;
    transition: background-color 1s ease-in-out;
}

[type="file"]:focus + label {
    outline: none;
    border: none;
    /* outline: -webkit-focus-ring-color auto 5px; */
}

.influencer-profile-page-col2 {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.influencer-profile-page-col3 {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px #707070;
}

.influencer-profile-page-text1 {
    color: #FF7058;
}

.influencer-profile-page-comp1 {
    background-color: #fff;
    border: none;
    outline: none;
    margin-top: 10px;
    color: #FF7058;
    cursor: pointer;
}

.influencer-profile-page-col4 {
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

.influencer-profile-page-col5 {
    display: flex;
    justify-content: flex-end;
}

.influencer-profile-page-comp2 {
    width: 48%;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
}

.influencer-profile-page-col6 {
    text-align: center;
    margin: 5px 15px;
    border: 1px dotted #707070;
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
}

.influencer-profile-page-col7 {
    display: flex;
}

.influencer-profile-page-col8 {
    width: 100%;
}

.influencer-profile-page-col9 {
    margin-top: 10px;
}

.influencer-profile-page-col10 {
    margin-right: 10px;
}

.influencer-profile-page-col11 {
    width: 30%;
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 5px;
}

.influencer-profile-page-col12 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.influencer-profile-page-text2 {
    align-self: center;
    font-size: medium;
    padding-left: 20px;
    font-weight: 700;
    padding-right: 10px;
}

.influencer-profile-page-comp3 {
    width: 47%;
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 10px;
}

.influencer-profile-page-col12 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.influencer-profile-page-comp4 {
    border: none;
    outline: none;
    padding: 10px;
    width: 40%;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 10px;
}

.influencer-profile-page-comp5 {
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #12db55;
    padding: 10px;
    color: #fff;
    font-size: medium;
    font-weight: 700;
}

.influencer-profile-page-col13 {
    display: flex;
    justify-content: flex-end;
}

.influencer-profile-page-comp6 {
    background-color: #fff;
    border: none;
    outline: none;
    color: #FF7058;
}

.influencer-profile-page-col14 {
    padding: 10px;
}

.influencer-profile-page-col15 {
    margin-top: 20px;
}

.influencer-profile-page-col16 {
    display: flex;
    justify-content: center;
}

.influencer-profile-page-comp7 {
    width: 40%;
    margin-right: 10px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 10px;
}

.influencer-profile-page-comp8 {
    width: 20%;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 10px;
    border-radius: 10px;
}

.influencer-profile-page-col17 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.influencer-profile-page-comp9 {
    width: 10%;
    background-color: #12db55;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    font-weight: 600;
}

.influencer-profile-page-text3 {
    color: black;
    font-size: medium;

}

.support-text {
    font-size: 14px;
    color: #000;
}

.support-text:hover,
.support-text:-webkit-any-link {
    font-size: 14px;
    color: #000;
}
