.header_search_bar {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
    box-shadow: 0px 0px 3px 0px #707070;
}

.opportunity-filter-tab {
    background-color: #273440;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.opportunity-filter {
    margin-top: 40px;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10%;
}

.opportunity-other-tab {
    background-color: #fff;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.opportunity_campaign_display_card {
    background-color: #fff;
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

.opportunity-campaign-basic-details {
    display: flex;
    margin-left: 10px;
}

.opportunity-campaign-name-description {
    margin-left: 20px;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 10px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}

.opportunity-campaign-other-details {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 30px;
}

.opportunity-text {
    color: #FF7058;
}

.opportunity-campaign-details-container {
    padding: 10px;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 5px;
}

.opportunity-footer-tab-option {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    margin-top: 30px;
}

.opportunity-footer-btn-notInterested {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    background-color: #FF7058;
    color: #fff;
    font-weight: 700;
    font-size: medium;
}

.opportunity-foooter-btn-apply-now {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    background-color: #4FCF5E;
    color: #fff;
    font-weight: 700;
    font-size: medium;
}

.opportunity-footer-date-section {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2px 0px #707070;
}

.opportunity-modal-basic-detail {
    display: flex;
}

.opportunity-modal-basic-detail-tab {
    background-color: #273440;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.opportunity-modal-text-header {
    color: #FF7058;
    font-size: small;
}

.opportunity-modal-text-body {
    color: #fff;
    font-size: medium;
}

.opportunity-modal-campaign-name {
    margin-top: 10px;
    background-color: #273440;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.opportunity-modal-campaign-description {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.ant-modal-body {
    background-color: rgb(228, 236, 247);
}

.opportunity-campaign-name-text {
    font-weight: 700;
    font-size: medium;
}

.header-user-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 30px;
}

.opportunity-footer-btn-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
