@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(../font/lato/Lato-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(../font/lato/Lato-Bold.ttf) format('opentype');
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, label {
    font-family: 'Lato';
    margin: 0;
    letter-spacing: 0;
    font-weight: normal;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
}

:root {
    --error_text_color: #E41E10;
    --form_label_text_color: #4D4D4D;
    --subtitle_text_color: #9D9D9D;
    --backgorund_color: #F5F5F5;
    --subtitle_text_color: #7F7F7F;
    --text_color: #CD0F1B;
}

.error {
    color: var(--error_text_color);
}

span.required {
    color: red;
    margin-left: 3px;
}

button.arrowBtn {
    border: none;
    background: #f5f5f5;
    padding: 10px 15px 15px 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    margin-top: 5px;
    padding-left: 15px;
}

button.arrowBtn:hover {
    background: #e9e9e9;
    color: #000;
}

.subtitle h4 {
    color: #000;
}

.formSectionTitle h3 {
    color: #000;
    line-height: 190%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 900;
}

.formSection {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.divRight {
    width: 20%;
    float: left;
    position: relative;
}

.divRight::after {
    clear: both;
}

.divLeft {
    width: 80%;
    float: left;
}

.form-group {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.profile-input {
    width: 100%;
}

.selector-margin {
    margin-top: 10px;
    margin-bottom: 8px;
}

.form-group:nth-child(even) {
    margin-right: 0;
}

.form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    line-height: 38px;
    /* padding: 0 15px; */
    padding: 16px 0 20px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #DEDEDF;
    margin-bottom: 10px;
}

.formRow, .formRows {
    margin-bottom: 0px;
}

.web_lbl_profile {
    padding-left: 15px;
    padding-right: 15px;
}

.add_btn {
    padding-bottom: 8px;
    padding-top: 8px;
}

label {
    color: var(--form_label_text_color);
    text-transform: capitalize;
    font-size: 13px;
    line-height: 160%;
}

.subtitle h6 {
    font-size: 14px;
    color: #000;
}

.clearfix {
    overflow: auto;
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/******************* Header ************************/

.ant-layout-header {
    background-color: #fff;
}

header.ant-layout-header.header {
    display: flex;
    padding: 10px;
}

.headerRight {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profileImage {
    width: 45px;
    height: 45px;
    background: #f5f5f5;
    border-radius: 50%;
    margin-top: 5px;
}

.profileCameraImage {
    width: 45px;
    height: 45px;
    background: #f5f5f5;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin-top: 5px;
}

.profileIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profileCameraIcon {
    width: 30px;
    height: 30px;
}

.profileText {
    margin: 15px 0px 10px 10px;
    line-height: 100%;
}

.Image {
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    flex-direction: ROW;
}

.profileText span {
    margin-left: 10px;
}

.notificationIcon {
    margin-left: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.notificationIcon i {
    position: relative;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.50);
}

.notificationIcon i:after {
    top: 5px;
    content: '';
    width: 10px;
    height: 10px;
    background: #39DD84;
    position: absolute;
    right: 2px;
    border-radius: 50%;
}

/*********** Profile Popup **************/

.profilePopup {
    position: absolute;
    background: #fff;
    border: 2px solid #f3f3f3;
    padding: 2px 20px 1px;
    color: #000;
    top: 60px;
    right: 12px;
    border-radius: 10px;
    min-width: 270px;
    display: none;
    cursor: pointer;
    height: 20px;
}

.profile:hover .profilePopup {
    display: block;
}

.profilePopup:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 11px 10px;
    border-color: transparent transparent #f3f3f3 transparent;
    top: -10px;
    position: absolute;
    right: 20px;
}

.profilePopupText p {
    line-height: 100%;
    color: #A6A6A6;
}

.profilePopupText .dark {
    top: 85px;
    left: 1123px;
    width: 83px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/60px Lato;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.profilePopupText a {
    color: #CD1A1A;
    line-height: 120% !important;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.profilePopupText a:hover {
    color: #8D8E8E;
}

.profilePopupText {
    margin-bottom: 50px;
    margin-top: -10px;
}

.logoutBtn {
    background: #fff;
    border-radius: 5px;
    top: 170px;
    left: 1108px;
    line-height: 100%;
    text-transform: capitalize;
    width: 78px;
    height: 27px;
    color: #8D8E8E;
    cursor: pointer;
    border: 1px solid #1B1C1D;
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
}

.logoutBtn2 {
    background: #fff;
    border-radius: 5px;
    top: 185px;
    left: 1123px;
    width: 78px;
    height: 27px;
    border: 1px solid #1B1C1D;
    opacity: 1;
    line-height: 100%;
    text-transform: capitalize;
    color: #8D8E8E;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.logoutBtn:hover {
    color: #fff;
    background-color: #8D8E8E;
}

.ant-layout-header {
    line-height: 100% !important;
}

.menu {
    display: inline-block;
    margin-right: 40px;
    margin-top: 20px;
}

.menu span {
    width: 25px;
    border: 2px solid #333;
    display: block;
    margin-bottom: 2px;
}

.box-style {
    border: 0px solid black;
    border-radius: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-shadow: none;
}

li.ant-menu-item span {
    display: none;
}

.ant-menu-item img {
    max-width: unset !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #F8DA7F;
}

.ant-menu {
    background: #fff;
    padding: 15px 0 !important;
    color: rgba(0, 0, 0, 0);
    text-align: center;
}

/* li.ant-menu-item:hover span {
    display: block;
} */

.site-layout-background-1 {
    background: #fff;
    box-shadow: none;
    z-index: 999999999999;
}

/******************* fdjhkgdfhjgfk ******************/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    color: #fff;
    background-color: #1a242f;
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active {
    border-radius: 0;
    background: #FFB600 !important;
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active:hover {
    border-radius: 0;
    background: #FFB600 !important;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

/* Side Navigation */

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
    background: #fff;
    box-shadow: 0px 3px 6px #9DCEFF29;
    border: none;
}

.side-nav > li > ul {
    padding: 0;
    border-bottom: 1px rgba(0, 0, 0, .3) solid;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

.navbar .nav > li > a:hover > .label {
    top: 10px;
}

.navbar .navbar-header .navbar-toggle {
    border: #ffffff;
    background-color: #ffffff;
    float: left;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #ffffff;
    color: #ffffff;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-header {
    margin-right: auto;
}

a.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    margin-top: 5px;
}

.top-nav > li > a {
    color: #707070;
    font-size: 16px;
}

.dropdown-toggle b {
    margin-left: 10px;
}

.dropdown-toggle::after {
    display: none;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    color: var(--text_color);
    background-color: #fff;
}

.redColor {
    color: var(--text_color);
}

.top-nav > li > a:hover .profilePopup {
    display: block;
}

ul.side-nav a span {
    padding: 0 30px;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 12px;
    display: none;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 15px 20px;
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 0 25px 25px 0px;
    border: 0;
}

.nav > li {
    position: relative;
    display: block;
    padding: 0 !important;
}

/* .navbar-inverse .navbar-nav>li>a.navbar__link--active:hover span, */

.navbar-inverse .navbar-nav > li > a:hover span {
    display: block;
}

.navbar-inverse .navbar-nav > li > a.navbar__link--active {
    background: #FFB600;
    border-radius: 0;
    width: 60px;
}

.navbar-inverse .navbar-nav > li > a.navbar__link--active span {
    display: none;
}

.right input.form-control {
    position: relative;
}

/************************************************/

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 0;
    border-radius: 0;
    position: relative;
    z-index: 1;
}

.jumbotron > .row > .homeboxwrap {
    z-index: 2;
    padding: 69px 52px;
    background: rgba(255, 255, 255, 0.60) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    position: absolute;
    left: 116px;
    top: 92px;
}

.jumbotrom h1.textColor, .jumbotron .h1, .jumbotron h1 {
    color: #CD0F1B;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
}

.praText p {
    font-size: 16px;
    color: #000;
    line-height: 210%;
    font-weight: 400;
}

button.loginBtn.btn.btn-primary {
    padding: 0px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    margin-right: 20px;
    border-radius: 6px;
    line-height: 38px;
}

button.loginBtn.btn.btn-primary:last-child {
    margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: #CD0F1B;
    border: 1px solid #CD0F1B;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #CD0F1B;
    border: 1px solid #CD0F1B;
    outline: none !important;
    box-shadow: none !important;
}

.searchWrap:after {
    content: "\f002";
    position: absolute;
    top: 21%;
    right: 13px;
    bottom: 0;
    margin: auto;
    font-size: 16px;
    color: #9A9A9A;
}

.searchWrap {
    position: relative;
    margin-right: 20px;
}

/************ Campaign Details **************/

.campaignImage.detailCampaign {
    height: 350px;
    border-radius: 0;
}

.campaignName h3, .campaignName a {
    font: normal normal 900 24px Lato;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
}

.projectName h4 {
    font: normal normal normal 18px Lato;
    letter-spacing: 0px;
    color: #00000099;
    text-transform: CAPITALIZE;
}

.datePartition.ddetails > div.startDate:before, .datePartition.ddetails > div.edate:before {
    width: 71px;
}

.datePartition.ddetails > div.startDate:before {
    right: 102px;
}

.datePartition.ddetails > div.edate:before {
    left: -100px;
}

.datePartition.ddetails > div.edate:after {
    left: -25px;
}

.datePartition.ddetails > div.startDate:after {
    left: -44px;
}

.campaignBudget {
    text-align: right;
}

.campaignBudget h2 {
    color: #000;
    font-size: 24px;
    font-weight: 900;
}

.campaignBudget h2 span {
    color: var(--text_color)
}

.campaignDetailPage.sectionBg {
    /* background-color: #fff; */
}

.myshadow {
    box-shadow: 0px 3px 6px #9DCEFF29;
    border: 1px solid #F3F4F4;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.navbar-inverse .navbar-nav > li > a.my:hover {
    width: auto;
}

.CampaignDesc h1 {
    font-size: 16px;
    color: #000;
    opacity: 0.5;
    font-weight: 900;
}

.CampaignDesc p {
    font-size: 14px;
    color: #000000B3;
    line-height: 180%;
}

.CampaignDesc p.black {
    color: #000;
}

.CampaignDesc p.extratext {
    color: #00000066;
    font-size: 12px;
}

.true > .dropdown-menu {
    display: block;
    padding: 15px;
    border: 0;
    box-shadow: none;
    border: 1px solid #707070;
    border-radius: 0 0 10px 10px;
    border-top: 0;
}

.campaignDetailPage button.mytoggle {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 50px;
    padding: 0 15px;
    color: #333333DE;
    font-size: 18px;
}

.campaignDetailPage .mytoggle span.fa.fa-chevron-right {
    float: right;
    line-height: 50px;
    transform: rotate(90deg);
    font-weight: 100;
    font-size: 14px;
}

.channelTitle {
    color: #B5B5B5DE;
    font-size: 13px;
}

.channelValue {
    font-size: 15px;
    color: #333333;
    margin: 10px 0 20px;
}

.CampaignDesc p span {
    color: var(--text_color);
}

.campaignDetailPage .dropdown {
    border: 1px solid #707070;
    border-radius: 10px;
}

.campaignDetailPage .dropdown-menu {
    width: 100%;
}

.dropdown.true {
    border-radius: 10px 10px 0 0;
}

.CampaignDesc .dropdown {
    margin-bottom: 15px;
}

ul.tags li {
    display: inline-block;
    background: #E0E1E2;
    margin-right: 15px;
    padding: 5px 21px !important;
    font-size: 12px;
    color: #000;
    text-transform: capitalize;
    border-radius: 50px;
}

ul.tags {
    padding: 0;
}

ul.tracks li {
    background: #6D6D6D;
    padding: 13px 20px !important;
    border-radius: 6px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

ul.tracks li h3, ul.tracks li p {
    color: #fff;
}

ul.tracks li p {
    margin: 0;
    word-break: break-all;
    font-size: 13px;
}

ul.tracks li:last-child {
    margin-bottom: 0;
}

ul.tracks, ul.helpSupport {
    list-style: none;
    padding: 0;
}

span.mysymbol {
    height: 32px;
    width: 42px;
    margin-left: 10px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

span.mysymbol2 {
    height: 33px;
    width: 36px;
    margin-left: 10px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

span.mysymbol::before {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: auto;
    color: #000;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 16px;
}

span.mysymbol2::before {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: auto;
    color: #000;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 16px;

}

.mylinkcamp a {
    display: block;
    line-height: 200%;
    font-size: 14px;
}

.helpSupport li {
    display: flex;
    font-size: 16px;
    color: #000;
}

.upcomingCampaignHeader > h5 {
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    line-height: 180%;
}

.helpSupport li span {
    color: #000000B3;
    margin-right: 15px;
    font-size: 23px;
    line-height: 100%;
}

.myshadow.updateprofile h4 {
    color: #fff;
    font-size: 16px;
}

.myshadow.updateprofile p {
    line-height: 150%;
    font-size: 12px;
}

.myshadow.updateprofile {
    background: #747474;
    color: #fff;
}

.save-bttn button,
.save-bttn_profile button {
    border: 1px solid #707070;
    padding: 0px 28px;
    background: #fff;
    border-radius: 6px;
    line-height: 160%;
    color: #000;
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    margin-right: 15px;
}

.save-bttn button.save-btn,
.save-bttn_profile button.save-btn {
    background: var(--text_color);
    color: #fff;
    border: 1px solid var(--text_color);
}

div.channel {
    overflow: hidden;
    min-height: 40px;
}

span.channel {
    background: #E0E1E2;
    border-radius: 13px;
    padding: 5px 7px;
    margin-right: 2px;
    font-size: 12px;
    color: #000;
    margin-top: 10px;
    margin-top: 15px;
    display: inline-block;
}

.influencerBlock .campaignDetails {
    padding: 0;
    overflow: hidden;
}

.datePartition.budgetd {
    background: #252631;
    margin-top: 15px;
    padding: 15px;
}

.datePartition.budgetd > div > div.CampaignTitle {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.40);
    white-space: nowrap;
}

.datePartition.budgetd > div > p {
    color: rgba(255, 255, 255, 0.70);
    margin: 0;
}

h1.title {
    color: #000;
    font-size: 18px;
    line-height: 220%;
    font-weight: 900;
}

.allcampaigns.text-right a {
    font-size: 14px;
}

.bannerSection {
    padding: 50px 0;
    background-image: url('../hexa.jpeg');
    min-height: 250px;
    position: relative;
}

.bannerSection:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent radial-gradient(closest-side at 50% 50%, #33354500 0%, #333545 100%) 0% 0% no-repeat padding-box;
}

.bannerSection h1 {
    color: #C7C8CC;
    font-weight: 900;
    line-height: 290%;
    font-size: 29px;
}

.web_side {
    position: fixed;
    margin-top: 20px;
}

.bannerSection p {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 900;
    line-height: 150%;
    font-size: 15px;
}

.searchWrap input.form-control {
    border-radius: 100px;
}


.campaignStatus span {
    color: rgba(255, 255, 255, 0.70)
}

span.circle {
    height: 11px;
    width: 11px;
    background: #fff;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}

span.circle.yellow {
    background: #FBBD08;
}

span.circle.red {
    background: #FB0808;
}

span.circle.green {
    background: #8AFB08;
}

.searchWrap:after {
    top: 6px;
    font-family: fontAwesome;
}

.compInfo li {
    display: inline-block;
    color: #00000066;
    font-size: 14px;
}

.compInfo li span, .compInfo li p {
    display: inline-block;
}

.compInfo li span {
    margin-right: 10px;
    font-size: 18px;
}

.compInfo ul, .compInfo li {
    padding: 0;
}

.myshadow.companyshadow > col-md-3 {
    z-index: 4;
    position: relative;
}

.myshadow.companyshadow:after {
    content: '';
    background: #F3F4F4;
    width: 100%;
    height: 57px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.myshadow.companyshadow {
    z-index: 2;
    position: relative;
}

.myshadow.companyshadow > .col-md-3, .myshadow.companyshadow > .col-md-9 {
    z-index: 3;
}

.mycerti {
    line-height: 38px;
    width: 41px;
    border: 1px solid #DEDEDF;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

.formSection p.redColor {
    font-size: 13px;
    line-height: 120%;
}

.myshadow.updateprofile p.col-md-1 {
    padding-left: 0;
}

.myshadow.updateprofile .col-md-11 {
    padding-right: 5px;
}

.errorUl span.mdi {
    width: 20px;
    height: 20px;
    background: #CD0F1B;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
}

ul.errorUl li p {
    font-size: 14px;
    display: inline-block;
}

ul.errorUl {
    padding: 0;
}

ul.errorUl li {
    list-style: none;
    padding: 0 !important;
}

button.redButton, a.redButton {
    background: #DB2828;
    border-radius: 4px !important;
    color: #fff;
    border: 1px solid transparent;
    padding: 0px 50px;
    line-height: 35px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #DB2828;
    box-shadow: node;
    border-color: transparent;
    outline: none;
}

.greyColor {
    color: #00000099;
    font-size: 12px;
}

.blackColor {
    color: #000;
}

.myshadow.mydetail {
    /* background: #F3694B; */
    background-image: url('../dash.png');
    background-size: cover;
}

.detailData .col-md-6 {
    background: #FF9C49;
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-right: 6%;
    width: 47%;
}

.detailData .col-md-6:nth-child(even) {
    margin: 0px;
}

.detailData .col-md-6:nth-child(2) {
    background-color: #C4344B;
}

.detailData .col-md-6:nth-child(3) {
    background-color: #F3694B;
}

.detailData .col-md-6:nth-child(4) {
    background-color: #9E1946;
}

.detailData .col-md-6:nth-child(5) {
    background-color: #E5554A;
    margin-bottom: 0;
}

.detailData .col-md-6:nth-child(6) {
    background-color: #800E45;
    margin-bottom: 0;
}

.detailData .left span {
    width: 40px;
    border-right: 1px solid #fff;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    background-image: url('../Group 28174.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.detailData .col-md-6:nth-child(2) .left span {
    background-image: url('../relationship.svg');
}

.detailData .col-md-6:nth-child(3) .left span {
    background-image: url('../reach.svg');
}

.detailData .col-md-6:nth-child(6) .left span {
    background-image: url('../eye.svg');
}

.detailData .col-md-6:nth-child(4) .left span {
    background-image: url('../like.svg');
}

.detailData .col-md-6:nth-child(5) .left span {
    background-image: url('../comment\ \(1\).svg');
}

.myright p {
    font-size: 10px;
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.myright p b {
    font-size: 14px;
}

ul.dashUl {
    padding: 0;
}

.dashUl li {
    display: flex;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 13px;
}

.dashUl li.col-md-6 {
    margin-right: 2%;
    flex: 0 0 49%;
}

.dashUl li.col-md-6:last-child {
    margin-right: 0;
}

.parttiitonIcon p.blackColor {
    font-size: 14px;
    margin-bottom: 0;
}

.mydetail li span {
    width: 40px;
    border-right: 1px solid #fff;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    background-image: url('../comment\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: center;
}

.whiteColor {
    color: #fff;
}

.myshadow.mydetail {
    /* background: #F3694B;     */
    padding: 15px 30px;
}

.mydetail h1.whiteColor {
    font-size: 36px;
    font-weight: 900;
}

.mydetail p.whiteColor {
    font-size: 14px;
}

.campaignDivRepeat p.greyColor {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.40);
}

.campaignDivRepeat p.blackColor {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.70);
}

.campaignHeader {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

span.yellowtab {
    background: #CACACA;
    padding: 2px 30px;
    border-radius: 50px;
    font-size: 13px;
    display: inline-block;
    line-height: 160%;
}

.projectName {
    min-height: 20px;
}

.CampaignDate .greyColor {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    margin-top: 10px;
    min-height: 39px;
}

.CampaignDate .greyColor span {
    color: rgba(0, 0, 0, 1);
    margin-left: 10px;
    font-weight: bold;
}

.ant-modal-footer {
    height: 50px;
    /* display: none; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.campaignName {
    min-height: 23px;
}

.projectEndDate {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
}

.redbg {
    background: #CD0F1B;
    color: #fff;
}

.headerRedbg h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 900;
}

.bodyRedbg p {
    font-size: 14px;
}

.footerRedbg span.mdi.mdi-upload.mycerti {
    color: #fff;
}

.footerRedbg label.custom-file-upload {
    color: #fff;
    font-size: 15px;
}

span.yellowtab.green {
    background: #00BB1F;
    color: #fff;
}

span.yellowtab.red {
    background: red;
    color: #fff;
}

span.yellowtab.no {
    display: none;
}

input.submitButton {
    color: #000;
    text-transform: uppercase;
}

input.submitButton:hover {
    color: #CD0F1B;
    background-color: #fff;
}

ul.socialUpload {
    padding: 0;
    list-style: none;
}

ul.socialUpload li a {
    text-decoration: none;
    color: #000;
}

ul.socialUpload li a:hover {
    color: var(--text_color);
}

ul.socialUpload li {
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px 15px 10px 40px !important;
    display: block;
    position: relative;
    color: #000;
    font-size: 15px;
    background: #fff;
}

ul.socialUpload li:before {
    content: '';
    position: absolute;
    background-image: url('../youtube.svg');
    left: 10px;
    top: 0;
    width: 20px;
    height: 13px;
    background-repeat: no-repeat;
    bottom: 0;
    margin: auto;
    bottom: 0;
}

i.fa.fa-inr {
    margin-right: 5px;
}

ul.socialUpload li.fb:before {
    background-image: url('../facebook\ .svg');
    height: 15px;
    width: 15px;
}

.redbg h3 {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    line-height: 150%;
    text-transform: capitalize;
}

.redbg p {
    font-size: 14px;
    line-height: 240%;
}

ul.social {
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.social li span {
    display: block;
    position: relative;
    padding-left: 25px;
}

ul.social span.yellowtab {
    background: #E0E1E2;
    display: inline;
}

ul.social li span.icon:before {
    content: '';
    width: 20px;
    height: 13px;
    background-image: url('../youtube.svg');
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

ul.social li.fb span.icon:before {
    background-image: url('../facebook\ .svg');
}

ul.socialUpload li.insta:before {
    background-image: url('../Group\ 27940.svg');
    height: 17px;
    width: 17px;
}

ul.tracks .row {
    align-items: center;
}

.menusub {
    background: rgba(205, 15, 27, 0.58);
}

.menusub .col-md-6 {
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
}

.menusub .col-md-6:first-child {
    border-right: 1px solid #fff;
}

.myshadow.updateprofile.dash {
    background: rgba(255, 255, 255, 0.30);
    border: 0;
}

.col-md-4.m-4.myshadow.mydetail.dash {
    padding-bottom: 0;
}


.ant-modal-body {
    background-color: #fff;
}

.greenColor {
    color: #0E566C;
    font-size: 12px;
}

span.col-4.mt-3.bg-light.m-3.rounded.shadow {
    background: #6D6D6D !important;
    display: block;
    color: #FFFFFFD9;
    font-size: 14px;
    position: relative;
}

.roundcheck .ant-checkbox-inner {
    border: 1px solid #D6D6D7;
    border-radius: 50%;
}

.roundcheck .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
    border-color: #DB2828;
    position: relative;
}

a.closeevent {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    background: #9A9A9ACC;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #6D6D6D;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

a.closeevent_label_profile {
    width: 20px;
    line-height: 20px;
    background: #9A9A9ACC;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #6D6D6D;
    font-weight: bold;
    margin-top: 0px;
    display: flex;
    margin-right: -10px;
    margin-left: 10px;
    margin-top: -30px;
    justify-content: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.roundcheck .ant-checkbox-checked .ant-checkbox-inner:before {
    content: '';
    height: 8px;
    width: 8px;
    background: red;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.roundcheck .ant-checkbox-checked .ant-checkbox-inner::after {
    opacity: 0;
}

.mdi-check::before {
    content: "\F012C";
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    font-size: 24px !important;
    line-height: 46px !important;
    text-align: center;
    right: 0;
}

span.ttag.blackColor {
    background: #E0E1E2;
    margin-right: 5px;
    padding: 5px 22px;
    border-radius: 13px;
    font-size: 12px;
    line-height: 120%;
}

button.ant-btn.redColor.true {
    display: block;
    background: none;
    color: #CD0F1B;
    border: 0;
    padding: 5px 0;
    margin: 3px 0;
}

button.ant-btn.redColor.false {
    display: none;
}

.socialBlock {
    border: 1px solid #D9D9DA;
    padding: 15px 0 0;
    font-size: 15px;
    line-height: 120%;
    margin-right: 2%;
    width: 49%;
    margin-bottom: 20px;
}

.socialBlock:nth-child(even) {
    margin-right: 0;
}

.mob_bgsocial div {
    background: #F3F4F4;
}

.bgsocial div {
    background: #F3F4F4;
    min-height: 38px;
}

.bgsocial2 div {
    background: #F3F4F4;
    min-height: 30px;
    margin-top: -20px;
}

.mob_bgsocial2 div {
    background: #F3F4F4;
}

.bgsocial div p {
    margin: 10px 0;
}

.ant-switch-checked {
    background-color: #CD0F1B;
}

.ant-radio-inner::after {
    background-color: #CD0F1B;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #CD0F1B;
}

.sticky {
    width: 93%;
    height: 60px;
    z-index: 2;
    position: fixed;
    top: 70px;
    padding: 5px;
    left: 70px;
}

.uniqueClassName {
    margin-top: 50px;
}

.endDate.edate div {
    padding-left: 10px;
}

.well {
    min-height: 20px;
    padding: 19px;
    background-color: #fafafa;
    border: none;
    border-radius: 0px;
    margin-left: 5%;
    margin-top: 50px;
    max-width: 95% !important;
}

.well2 {
    min-height: 20px;
    padding: 19px;
    background-color: #fafafa;
    border: none;
    border-radius: 0px;
    margin-left: 5%;
    margin-top: 50px;
    max-width: 95% !important;
}

a.mycamp.redButton {
    border-radius: 10px !important;
}

h1.greyColor.mycamptitle {
    font-size: 16px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 10px;
    margin-top: 10px;
}

.campaignHeader .blackColor {
    font-size: 12px;
}

.label-profile-page .formSection.companyshadow {
    margin-top: 0;
}

.row.headerSpace {
    height: 45px;
}

.createCampaignHeader {
    display: flex;
    align-self: center;
    align-items: center;
    background: #f5f5f5;
    width: 100%;
    position: fixed;
    z-index: 9;
    height: 48px;
    margin-left: -20px;
}

.createCampaignHeaderInfluencer {
    display: flex;
    align-self: center;
    align-items: center;
    background: #f5f5f5;
    width: 100%;
    position: fixed;
    z-index: 9;
    height: 48px;
    margin-left: -5px;
}


.createCampaignHeaderLink {
    right: 0;
}

.createCampaignDetailHeader {
    background: #f5f5f5;
    width: 100%;
    padding: 5px 15px;
    position: fixed;
    top: 48px;
    padding-top: 22px;
    left: 5%;
    z-index: 9;
}

.createCampaignDetailHeaderLink {
    right: 0;
    margin-top: 15px;
    z-index: 9;
    position: fixed;
}

.createCampaignHeader h6 {
    font-size: 14px;
}

.rightside, .createCampaignBtn {
    z-index: 9;
}

select.customeSelect {
    width: 100%;
    border: 1px solid #DEDEDF;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    color: #B5B5B5;
    padding: 6px 17px;
    line-height: 110%;
    position: relative;
    text-transform: capitalize;
}

.selectarw {
    position: relative;
}

.selectarw:before,
.myselectarw button.ant-btn.ant-dropdown-trigger.ant-btn-default:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #4D4D4D transparent transparent transparent;
    position: absolute;
    right: 8px;
    top: 15px;
    bottom: 0;
    margin: auto;
    z-index: 8;
}

.sosbtn .RedBorderButton {
    margin-right: 0;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #666;
}

.input-group span.mdi.mdi-check-all, .input-group span.mdi.mdi-lock-outline {
    top: 35%;
    transform: translateY(-50%);
}

.input-group .form-control.rounded.otp {
    border-radius: 6px !important;
    height: 50px !important;
}

span.mdi.mdi-lock-outline.myout {
    top: 63%;
}

span.tags {
    background: #E0E1E2;
    border-radius: 13px;
    line-height: 25px;
    display: inline-block;
    padding: 0 21px;
    font-size: 12px;
    text-transform: capitalize;
}

span.myimgtxt {
    FONT-SIZE: 13px;
    color: #333333DE;
    font-weight: bold;
}

.detailData {
    min-height: 265px;
    display: flex;
    align-items: center;
}

.imagefixcls img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.imagefixcls label {
    justify-content: center;
    align-self: center;
    background-color: red;
    height: auto;
}

.imagefixcls {
    box-shadow: -2px 0px 6px #9DCEFF29;
    position: fixed;
    top: 70px;
    width: 29.4%;
    right: 0;
    z-index: 9;
}

.imagefixclscc1 {
    box-shadow: -2px 0px 6px #9DCEFF29;
    position: fixed;
    top: 70px;
    width: 29.4%;
    right: 0;
    z-index: 9;
}

.antselectwrap::before {
    right: 30px;
    top: 0;
}

.ant-select-arrow {
    display: none;
}

h5.cmtypetitle {
    font: normal normal normal 14px/24px Lato;
    color: #000;
    line-height: 120%;
}

span.cmptypdes {
    font: normal normal normal 12px/18px Lato;
    color: #00000066;
    line-height: 130%;
    text-align: justify;
    margin-left: 14px;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #1d1c1c;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
    border-color: #CD0F1B;
}

.wrap {
    background: rgba(0, 0, 0, 0.50);
    padding: 20px;
}

.wrap span {
    display: block;
    line-height: 120%;
}

.wrap span.normalText {
    font-size: 21px;;
}

.wrap span.ptxt {
    color: rgba(255, 255, 255, 0.60);
    font: normal normal normal 16px/19px Lato;
    color: #FFFFFF;
    opacity: 0.6;
}

.dateWrap {
    padding: 20px;
    margin-bottom: 20px;
}

span.cdate {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.40);
    margin-left: -10px;
}

.ctype span.labelText {
    font-size: 16px;
    margin-top: 25px;
    border-top: 1px solid #000;
    padding-top: 25px;
    margin-bottom: 10px;
    color: #333333DE;
}

.ctbud {
    background: #CD0F1B;
    padding: 15px;
    border-radius: 10px;
    padding-bottom: 0;
}

p.bcbud {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.70);
    line-height: 170%;
    margin-bottom: 10px;
}

h1.bcrubpri {
    color: #fff;
}

.col-md-12.reach {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 0 0 10px 10px;
    color: #fff;
    margin-top: 15px;
}

.socialHead.col-md-10.d-flex.align-items-center {
    padding-left: 0;
}

.ctype span.imageRound {
    display: inline-block;
    padding: 0 10px;
}

a.closearw {
    width: 20px;
    height: 20px;
    background: #9A9A9ACC;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 7px;
}

.text-change {
    margin-top: 10px;
    padding-top: 2px;
    margin-bottom: 10px;
    height: 16px;
    text-align: left;
    font: normal normal bold 13px/16px Lato;
    letter-spacing: 0px;
    color: #333333DE;
    opacity: 1;
}

.hr-text {
    border: 1px solid #EFEFEF;
    margin-top: 18px;
}

.termsRoundedShadow {
    position: relative;
}

.mytagsc span {
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 12px;
    color: #000;
    text-transform: capitalize;
}

span.mytadfgg a {
    top: 1px;
    right: 1px;
}

span.mytadfgg a {
    top: 1px;
    right: 1px;
}

.mybtnccc .RedButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    margin-top: 1px;
}

.mybtnccc .add_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    margin-top: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
}


.mytagaddc span.mytadfgg {
    position: relative;
    padding: 5px 30px 5px 10px;
    font-size: 12px;
    line-height: 100%;
    display: inline-block;
    margin-right: 5px;
}

.mytagaddc span.mytadfgg:last-child {
    margin-right: 0;
}

.mybtnccc {
    position: relative;
}

.ant-select-multiple span.ant-select-item-option-state::after {
    content: "\F012C";
    font: normal normal normal 14px/1 "Material Design Icons";
    color: red;
    text-align: center;
    top: 1px;
    left: 0px;
    bottom: auto;
    position: absolute;
}

.ant-select-multiple .ant-select-item-option-content {
    padding-left: 25px;
    border-bottom: 1px solid #EFF0F0;
}

.ant-select-multiple span.ant-select-item-option-state {
    height: 17px;
    width: 17px;
    background: #fff;
    border: 1px solid #D4D4D5;
    border-radius: 4px;
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ant-select-multiple span.ant-select-item-option-state span.anticon-check svg {
    display: none;
}

.ant-select-multiple .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    position: relative;
}

/* .ant-select-multiple .ant-select-selector .ant-select-selection-item {
    display: none;
} */

.ant-select-multiple .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #fff;
}

.ant-select.rounded.ant-select-multiple.ant-select-show-search {
    border: 1px solid #EFF0F0;
}

.ant-select-multiple .ant-select-selector {
    border: none;
    width: 100%;
}

a.editfiltr.redColor {
    font-size: 14px;
    display: inline-block;
    margin-top: -30px;
    float: right;
}

ul.social .mytagsss span {
    background: #E0E1E2;
    display: inline-block;
    margin-right: 10px;
    border-radius: 13px;
    padding: 0 20px;
    line-height: 25px;
    left: 15px;
}

ul.social p.icon {
    font-size: 14px;
    color: #000;
    line-height: 170%;
    margin-bottom: 8px;
    padding-left: 25px;
    position: relative;
    text-transform: capitalize;
    margin-left: 15px;
}

ul.social p.icon::after {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    background-image: url('../facebook\ .svg');
    background-repeat: no-repeat;
}

ul.social p.icon.youtube::after {
    background-image: url('../youtube.svg');
    width: 20px;
}

ul.social p.icon.instagram::after {
    background-image: url('../Group 27940.svg');
}

.info_backGround {
    font-size: 12px;
}

span.normalText.tt {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 15px;
    font: normal normal normal 21px/25px Lato;
}

p.myeditp,
p.myeditp p {
    font-size: 14px;
    color: #333;
}

.socialBlock .blackColor {
    font-size: 12px;
}

.myh3 {
    font: normal normal 900 14px/24px Lato;
    color: #000;
}

.mybtnccc .RedButton:hover {
    padding: 5px 15px;
}

.socialmodal .ant-modal-header {
    display: none;
}

.socialmodal .ant-modal-content {
    border-radius: 10px;
}

.myeditp span:after {
    content: ",";
    margin-left: 2px;
    margin-right: 2px;
}

.myeditp span:last-child:after {
    content: "";
    margin-left: 2px;
    margin-right: 2px;
}

.dashboard .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard .col-md-4:first-child {
    padding-left: 20px;
}

.dashboard .col-md-4:last-child {
    padding-right: 20px;
}

.myselectarw .ant-btn-group.ant-dropdown-button {
    border: 1px solid #DEDEDF;
    border-radius: 4px;
}

.myselectarw .ant-dropdown-button button.ant-btn-default {
    margin: 0 !important;
    float: left;
    background: #fff;
    color: #333;
    border: 0;
}

.myselectarw .ant-dropdown-button button.ant-dropdown-trigger span.anticon {
    font-size: 0;
}

.antselectwrap.myselectarw::before {
    right: 25px;
    top: 0;
}

.marginBottomshadow {
    margin-top: 20px;
    padding: 20px;
}

.row.info {
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    /*margin-bottom: 20px;*/
}

.col-md-6.form-group {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
}

.roundedShadow .form-control {
    margin-top: 0;
    margin-bottom: 0;
}

.row.imageWrapcamp {
    margin-top: 20px;
}

.roundcheck .rounded {
    margin-right: 2.5%;
    flex: 0 0 31.5%;
    padding: 15px;
}

.roundcheck .rounded:nth-child(3) {
    margin-right: 0;
}

.myselectarw .ant-dropdown-button.w-100 button:first-child {
    width: 90%;
}

.ant-dropdown.ant-dropdown-placement-bottomRight {
    min-width: 200px !important;
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active:hover::before {
    background-image: url('../Group 28168.svg');
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.home:hover::before,
.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.home:before {
    background-image: url('../browser-1.svg');
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.campaign:hover::before,
.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.campaign:before {
    background-image: url('../Group 28169.png');
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.group:hover::before,
.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.group:before {
    background-image: url('../Group 28170.png');
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.payment:hover::before,
.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.payment:before {
    background-image: url('../Group 28171.png');
    width: 28px;
    height: 18px;
    background-size: 100% 100%;
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.growth:hover::before,
.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active.growth:before {
    background-image: url('../Group 28172.png');
}

.navbar-inverse .navbar-nav > li > a.navbar__link.navbar__link--active:before {
    background-image: url('../Group 28168.svg');
    content: '';
    width: 20px;
    height: 20px;
    /* background-image:url('../Group 28173.svg'); */
    left: 20px;
    position: absolute;
    top: 16px;
    background-repeat: no-repeat;
}

.navbar-nav > li > a:hover:before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../Group 28173.svg');
    left: 20px;
    position: absolute;
    top: 16px;
    background-repeat: no-repeat;
}

.navbar-nav > li > a.home:before {
    background-image: url('../browser-2.svg');
}

.navbar-nav > li > a.campaign:before {
    background-image: url('../Group 28174.svg');
}

.navbar-nav > li > a.group::before {
    background-image: url('../Group 28175.svg');
    width: 30px;
    left: 15px;
}

.navbar-nav > li > a.payment::before {
    background-image: url('../Group 28176.svg');
    width: 30px;
    left: 15px;
}

.navbar-nav > li > a.growth::before {
    background-image: url('../Group 28177.svg');
}

.navbar-nav > li > a:hover img {
    display: none;
}

.campaignmarginright {
    width: 93vw;
}

.myselectarw button.ant-btn.ant-dropdown-trigger.ant-btn-default {
    padding: 0 25px !important;
    position: absolute;
    right: 0;
    z-index: 9;
    width: 10%;
}

ul.social li {
    padding-left: 0 !important;
    margin-bottom: 10px;
}

ul.social li:last-child {
    margin-bottom: 0px;
}

.termsAdd {
    font: normal normal bold 13px/17px Lato;
    letter-spacing: 0px;
    color: #333333DE;
    margin-bottom: 10px;
}

textarea.col-12.textInput.border {
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
}

span.labelText.tt {
    font-weight: normal;
}

button.backBtn {
    /*font-size: 14px;*/
    /*color: #00000080;*/
    /*border: 1px solid #00000080;*/
    /*border-radius: 4px;*/
    border: #DB2828 solid 1px;
    background-color: #fff;
    border-radius: 4px;
    color: #000000;
    padding: 0px 50px;
    display: inline-block;
    text-decoration: none;
    font: normal normal normal 14px/17px Lato;
}

button.blackBtn {
    /*font-size: 14px;*/
    /*color: #00000080;*/
    /*border: 1px solid #00000080;*/
    /*border-radius: 4px;*/
    border: #00000080 solid 1px;
    background-color: #fff;
    border-radius: 4px;
    color: #000000;
    padding: 0px 50px;
    display: inline-block;
    text-decoration: none;
    font: normal normal normal 14px/17px Lato;
}


.navbar-nav > li > a.navbar__link--active:hover img {
    display: block;
}

ul.optionContainer li {
    display: flex;
    border-bottom: 1px solid #D9D9DA;
    font: normal normal normal 12px/12px Lato;
    letter-spacing: 0px;
    color: #00000099;
}

ul.optionContainer li input {
    margin-right: 10px;
    border: 1px solid #D4D4D5;
}

.step-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 60px;
}

.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content {
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
}

.ant-modal {
    width: 100%;
    justify-content: center;
    display: flex;
}

.web-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.web_genre {
    margin-left: 60px;
}

.react-datepicker-wrapper {
    display: flex;
}

.start-date-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    right: 25px;
    bottom: 10px;
}

.end-date-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    right: 25px;
    bottom: 42px;
}

.extend-end-date-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    right: 25px;
    bottom: 11px;
}

.web_fb {
    display: flex;
    justify-content: flex-start;
}

button.arrowBtn_upcoming_camp {
    justify-content: center;
    border: none;
    background: #f5f5f5;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    align-items: center;
    align-self: center;
    height: 48px;
}

button.arrowBtn:hover,
button.arrowBtn_upcoming_camp:hover {
    background: #e9e9e9;
    color: #000;
}

.upcoming_camp_header {
    width: 100%;
    top: 70px;
    z-index: 9;
    background-color: rgb(245, 245, 245);
    left: 50px;
    right: 50px;
    position: fixed;
    flex-direction: column;
}

.web_header {
    margin-left: 45px;
}

.web_create_button {
    margin-right: 40px;
}

.upcoming_camp_header_first,
.upcoming_camp_header_filtor {
    background-color: rgb(245, 245, 245);
    width: '100vw';
    display: flex;
    margin-left: -35px;
    justify-content: space-between;
}

.header_right {
    display: flex;
    align-items: center;
    margin-right: 55px;;
}

.upcoming_camp_header_filtor .dropdown button {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
    text-transform: capitalize;
}

.upcoming_camp_header_filtor .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50vw;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.upcoming_camp_header_filtor .dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: .60rem 1.5rem;
    clear: both;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.upcoming_camp_header_filtor .dropdown button:disabled,
.upcoming_camp_header_filtor .dropdown button:focus,
.upcoming_camp_header_filtor .dropdown button:active {
    background-color: rgb(245, 245, 245) !important;
    border: 1px solid rgb(245, 245, 245) !important;
    color: rgba(0, 0, 0, 0.85) !important;
    outline: none !important;
    box-shadow: none !important;
    text-transform: capitalize !important;
}

.upcoming_camp_header_filtor_right {
    display: flex;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    align-self: center;
    align-items: center;
    margin-right: 20px;
}

.compName {
    font: normal normal normal 24px/29px Lato;
}

.profile_image {
    width: 92px;
    height: 92px;
    justify-content: center;
    align-self: center;
}

.profile-email {
    font: normal normal normal 14px/17px Lato;
    margin-top: -5px;
}

.camp_font {
    font: normal normal normal 14px/18px Lato;
}

.li_font {
    font: normal normal 900 12px/18px Lato;
}

.font_status {
    font: normal normal normal 16px/18px Lato;
}

.camp-name-font {
    font: normal normal 900 15px/17px Lato;
}

.date_font {
    font: normal normal normal 13px/16px Lato;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand_font {
    font: normal normal normal 12px/16px Lato;
}

.reach_font {
    font: normal normal normal 13px/15px Lato;
}

.budget_font {
    font: normal normal normal 10px/12px Lato;
    margin-bottom: 10px;
}

.channel_font {
    font: normal normal normal 12px/12px Lato;
}

.rightside, .createCampaignBtn {
    z-index: 9;
    font: normal normal normal 14px/16px Lato;
}

.image_margin {
    margin-right: 15px;
    margin-left: 15px;
}

.font-camp-name {
    font: normal normal normal 21px/25px Lato;
}

.font-25 {
    font: normal normal normal 21px/25px Lato;
}

.font-expected-reach {
    font: normal normal 900 14px/17px Lato;
}

.font-suggested-tags {
    font: normal normal bold 13px/16px Lato;
}

.channel_font_ongoing {
    margin-top: -15px;
}

.font-12 {
    font: normal normal normal 12px/12px Lato;
}

.font-social-icon {
    font: normal normal normal 14px/17px Lato
}

.social-icon {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
}

.font-channel-name {
    font: normal normal normal 21px/25px Lato;
}

.social-icon-model {
    height: 21px;
    width: 31px;
    margin-right: 21px;
    margin-top: 3px;
}

.preview-font {
    font: normal normal normal 12px/12px Lato;
}

.age-group {

}

.gender-margin {
    margin-left: 50px
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.sampleVideo {
    font-size: 16px;
}

.sample-video-Font {
    font-size: 12px;
}

.disableToNotBackgroundColor button {
    background-color: #f3f4f4 !important;
    color: #DB2828 !important;
}
