@media only screen and (min-width: 1024px) {
    .well {
        margin-top: 50px;
    }

    .well2 {
        margin-top: 50px;
    }

    .upcoming_camp_header_filtor {
        display: none;
    }

    .mob_progress {
        display: none;
    }

    .mob_card_sample {
        justify-content: space-around;
    }

    .padding-left {
        padding-left: 0px;
    }

    .padding-Right-10 {
        padding-right: 10px
    }

    .padding-Left-10 {
        padding-left: 10px;
    }

    .padding-Horizontal-left {
        padding-left: 0px;
        padding-right: 10px
    }

    .padding-Horizontal-right {
        padding-left: 10px;
        padding-right: 0px
    }

    .padding-Horizontal-left-campaign-crete {
        padding-left: 10px;
        padding-right: 10px
    }

    .padding-Horizontal-left-campaign-crete-1 {
        padding-left: 30px;
    }

    .mob_err_block {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        padding-left: 60px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        background-color: #fafafa;
        border: none;
        border-radius: 0px;
        margin-left: 0px;
        margin-top: 50px;
        max-width: 100% !important;
    }

    .well2 {
        min-height: 20px;
        padding: 19px;
        background-color: #fafafa;
        border: none;
        border-radius: 0px;
        margin-left: 0px;
        margin-top: 50px;
        max-width: 100% !important;
    }

    .side-nav {
        position: fixed;
        top: 70px;
        left: 60px;
        width: auto;
        margin-left: -60px;
        border: none;
        border-radius: 0;
        border-top: none;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 225px;
        border-bottom: 1px rgba(0, 0, 0, .3) solid;
    }

    .side-nav li a:hover, .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }

    .jumbotrom h1.textColor, .jumbotron .h1, .jumbotron h1 {
        font-size: 45px;
    }

    button.loginBtn.btn.btn-primary {
        padding: 0px 30px;
        font-size: 14px;
        margin-right: 10px;
        line-height: 36px;
    }

    .jumbotron > .row > .homeboxwrap {
        padding: 40px 30px;
        left: 10%;
        top: 10%;
        max-width: 80%;
    }

    .previewCampaignRightCard {
        position: relative;
    }

    .mob_step2_bottom_bar {
        display: none;
    }

    .mob_step2_bottom_bar_toggle {
        display: none;
    }

    .mob_step2_bottom_bar_main {
        display: none;
    }

    .mob_socialmedia_youtube {
        display: none;
    }

    .mob_campaign_detail_header {
        display: none;
    }

    .mob_progress {
        display: none;
    }

    .mob_card_sample {
        justify-content: space-around;
    }

    .padding-left {
        padding-left: 0px;
    }

    .padding-Right-10 {
        padding-right: 10px
    }

    .padding-Left-10 {
        padding-left: 10px;
    }

    .padding-Horizontal-left {
        padding-left: 0px;
        padding-right: 10px
    }

    .padding-Horizontal-right {
        padding-left: 10px;
        padding-right: 0px
    }

    .padding-Horizontal-left-campaign-crete {
        padding-left: 10px;
        padding-right: 10px
    }

    .padding-Horizontal-left-campaign-crete-1 {
        padding-left: 30px;
    }

    .createCampaignDetailHeaderLink {
        right: 0;
        margin-top: -5px;
        z-index: 9;
        position: fixed;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-header .show-side-menu-icon {
        display: none;
    }

    .previewCampaignRightCard {
        position: fixed;
    }

    .mob_step2_bottom_bar {
        display: none;
    }

    .mob_step2_bottom_bar_toggle {
        display: none;
    }

    .mob_step2_bottom_bar_main {
        display: none;
    }

    .mob_socialmedia_youtube {
        display: none;
    }

    .mob_campaign_detail_header {
        display: none;
    }

    .web_social_card {
        display: flex;
        margin-top: 20px;
    }

    .web_social_card_facebook {
        margin-left: 18px;
    }

    .web_image {
        margin-top: 10px;
    }

    .web_card {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 30px;
    }

    .upcoming_camp_header_filtor {
        display: none;
    }

    .mob_progress {
        display: none;
    }

    .mob_err_block {
        display: none;
    }

    .mob_card_sample {
        justify-content: space-around;
    }

    .padding-left {
        padding-left: 0px;
    }

    .padding-Right-10 {
        padding-right: 10px
    }

    .padding-Left-10 {
        padding-left: 10px;
    }

    .padding-Horizontal-left {
        padding-left: 0px;
        padding-right: 10px
    }

    .padding-Horizontal-right {
        padding-left: 10px;
        padding-right: 0px
    }

    .padding-Horizontal-left-campaign-crete {
        padding-left: 10px;
        padding-right: 10px
    }

    .padding-Horizontal-left-campaign-crete-1 {
        padding-left: 30px;
    }

    .mob_table_body {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .previewCampaignRightCard {
        position: relative;
    }

    .jumbotrom h1.textColor, .jumbotron .h1, .jumbotron h1 {
        font-size: 30px;
        line-height: 120%;
    }

    button.loginBtn.btn.btn-primary {
        padding: 0px 30px;
        font-size: 14px;
        margin-right: 5px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 5px;
        display: inline-block;
    }

    .responsiveCenter {
        text-align: center;
    }

    .jumbotron > .row > .homeboxwrap {
        padding: 20px;
        left: 10%;
        top: 5%;
        max-width: 80%;
    }

    .formRows .row .form-group {
        width: 100%;
    }

    .profileSection .myshadow {
        margin-top: 10px;
    }

    .profileSection .myshadow .profile-completed-status {
        margin-left: 15px;
        margin-top: 0;
    }

    .profileSection .updateprofile p.col-md-1 {
        margin-top: 0;
    }

    .formSection {
        margin: 0;
    }

    .well {
        min-height: 20px;
        padding: 0px;
        border: none;
        margin-left: 0px;
        margin-top: 0px;
        max-width: 95% !important;
    }

    .well2 {
        min-height: 20px;
        padding: 0px;
        border: none;
        margin-left: 0px;
        margin-top: 0px;
        max-width: 100% !important;
    }

    .save-bttn button,
    .save-bttn_profile button {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .dashboard {
        margin-top: 30px;
        margin-left: 2px;
    }

    .praText p {
        font-size: 14px;
        line-height: 150%;
        text-align: justify;
    }

    .navbar-right .profileImage {
        display: none;
    }

    .navbar-right .profileCameraImage {
        display: none;
    }

    .navbar-right .dropdown-toggle {
        display: none;
    }

    .navbar-right {
        justify-content: flex-end;
    }

    a.navbar-brand {
        max-width: 100%;
        max-height: 100%;
        height: 30px;
        padding: 0;
        margin-top: 5px;
    }

    a.navbar-brand img {
        max-width: 100%;
        max-height: 100%;
        height: 25px;
    }

    .notificationIconDiv {
        margin-top: -5px;
    }

    .detailData .col-md-6 {
        width: 100%;
    }

    .detailData .col-md-6:nth-child(2) {
        margin-top: 30px;
    }

    .detailData .col-md-6:nth-child(3) {
        margin-top: 30px;
    }

    .detailData .col-md-6:nth-child(4) {
        margin-top: 30px;
    }

    .detailData .col-md-6:nth-child(5) {
        margin-top: 30px;
    }

    .detailData .col-md-6:nth-child(6) {
        margin-top: 30px;
    }

    .menusub .col-md-6:first-child {
        margin-bottom: 40px;
    }

    .searchWrap input.form-control {
        margin-left: 6%;
    }

    .influcara {
        width: 100%;
    }

    .mob_title {
        margin-left: 15px;
    }

    .myshadow.updateprofile.col-md-11 {
        margin-left: -2.5%;
    }

    .myshadow.updateprofile p.col-md-1 {
        margin-left: 15px;
        margin-top: 0;
    }

    .dashUl li.col-md-6 {
        flex: 0 0 100%;
    }

    .menusub {
        margin-left: -5px;
    }

    .ul .tags li {
        margin-top: 10px;
    }

    .navbar-inverse .navbar-nav > li > a.navbar__link--active {
        width: 100%;
    }

    .bm-menu {
        padding: 0;
    }

    .otp-index {
        z-index: 99999999;
    }

    .resend-btn {
        margin-left: -20px;
    }

    .content-signup {
        justify-content: center;
    }

    .form-group {
        width: 100%;
    }

    .dashboard-label {
        margin-top: 60px;
    }

    .dashboard-label .col-md-4 {
        padding-left: 15px;
        padding-right: 10px;
    }

    .col-md-6.form-group {
        width: 100%;
        margin-bottom: 10px;
    }

    .col-4 {
        flex: 0 0 100%;
        max-width: 96%;
    }

    .info_backGround {
        font: normal normal normal 12px/15px Lato;
        text-align: start;
        justify-content: start;
        display: flex;
    }

    .cmptypdes {
        font: normal normal normal 12px/18px Lato;
        color: #00000066;
        line-height: 130%;
        text-align: start;
        margin-left: 14px;
        display: flex;
    }

    .roundcheck .rounded {
        margin-right: 2.5%;
        flex: 0 0 100%;
        padding: 15px;
        margin-top: 10%;
    }

    .dashboard-label .col-md-4:first-child {
        padding-left: 10px;
        padding-right: 20px;
    }

    .myshadow.mydetail {
        margin-left: 4px;
    }

    .detailData {
        margin-left: 0;
    }

    .dashboard-label .col-md-4:last-child {
        padding-left: 15px;
        padding-right: 10px;
    }

    .verify-margin {
        margin-top: -10px;
    }

    .upcomingCampaign .row {
        display: flex;
        /* width: 100%; */
        /* flex-wrap: wrap; */
        margin-left: 10px;
        margin-top: 90px;
    }

    /*---------30102020---------*/
    .d-flex.signupwrap, .d-flex.Loginwrap {
        display: block !important;
        margin: 15px 0;
        position: static !important;
        transform: inherit;
    }

    .signupwrap .sign-left, .Loginwrap .login-left {
        max-width: 100%;
    }

    .signupwrap .sign-left .mob-logo {
        max-width: 100%;
    }

    .signupwrap .sign-left .blnk-eria {
        display: none;
    }

    .signupwrap .sign-right, .Loginwrap .login-right {
        max-width: 100%;
        padding: 20px 15px !important;
    }

    .login-left .login-title {
        max-width: 100%;
        flex: inherit;
    }

    .Loginwrap span.h5 {
        clear: both;
        display: block;
    }

    .Loginwrap .login-left {
        padding-top: 35px;
    }

    .web_err_block {
        display: none;
    }

    .mob_step1_right_card {
        display: none;
    }

    .mob_step2_right_card {
        display: none;
    }

    .mob_step2_main {
        overflow-x: hidden;
    }

    .mob_step2_centor {
        height: 72vh;
        overflow: auto;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-self: center;
    }

    .mob_step2_centor_toggle {
        height: 48vh;
        overflow: auto;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-self: center;
    }

    .mob_step1_body {
        height: 100%;
        overflow: auto;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mob_step2_body {
        height: 100%;
        overflow: auto;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mob_step2_bottom_bar {
        z-index: 9999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #fff;
        width: 100vw;
        box-shadow: 0px -2px 7px rgb(50 50 50 / 75%);
        align-items: center;
        align-self: center;
        flex-direction: column;
        position: absolute;
        bottom: 54px;
        left: 0px;
    }

    .mob_submit_section {
        z-index: 9;
        width: 100vw;
        box-shadow: 0px -2px 7px rgb(50 50 50 / 75%);
        align-items: center;
        align-self: center;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .mob_lbl_sidebar {
        position: relative;
        right: auto;
        margin-top: 80px;
    }

    .mob_lbl_sidebar_text {
        display: none;
    }

    .mob_create_camp {
        height: 100vh;
        width: 100vw;
        overflow: auto;
        background-color: #f2f2f2;
        justify-content: space-between;
    }

    .mob_create_camp_header {
        width: 100vw;
        overflow: auto;
        margin-top: 51px;
        padding-bottom: 5px;
        display: flex;
    }

    .mob_create_camp_body {
        height: 72vh;
        width: 100vw;
        overflow: auto;
        /* background-color: blue; */
        justify-content: center;
        align-self: center;
        display: flex;
        margin-top: 51px;
    }

    .mob_create_camp_body_normal_screen {
        height: 87vh;
        width: 100vw;
        overflow: auto;
        /* background-color: blue; */
        justify-content: center;
        align-self: center;
        display: flex;
        margin-top: 51px;
    }

    .createCampaignHeader {
        margin-left: 0px;
        margin-top: 50px;
    }

    .createCampaignHeaderInfluencer {
        margin-left: 0px;
        margin-top: 50px;
    }

    .mob_step2_bottom_bar_date {
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .datePartition > div.startDate:after,
    .datePartition > div.edate:after {
        content: '';
        width: 11px;
        height: 11px;
        border: 2px solid orange;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        right: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .datePartitionCampaign > div.startDate:after,
    .datePartitionCampaign > div.edate:after {
        content: '';
        width: 11px;
        height: 11px;
        border: 2px solid orange;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        right: 82%
    }

    .datePartitionCampaign > div.edate:after {
        left: 78%;
        right: auto;
    }

    .datePartitionCampaign > div.startDate:before,
    .datePartitionCampaign > div.edate:before {
        content: '';
        width: 31%;
        border: 1px dashed;
        position: absolute;
        right: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 1px;
    }

    .datePartition > div.edate:before {
        left: 50px;
        right: auto;
    }

    .datePartitionCampaign > div.edate:before {
        left: 50px;
        right: auto;
    }

    .mob_step3_right_card {
        display: none;
    }

    .mob_step3_main {
        overflow-x: hidden;
    }

    .mob_step3_centor {
        height: 72vh;
        overflow: auto;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-self: center;
    }

    .mob_step3_centor_toggle {
        height: 48vh;
        overflow: auto;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-self: center;
    }

    .mob_step3_body {
        height: '100%';
        overflow: auto;
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mob_hr-text {
        border: 1px solid #EFEFEF;
    }

    .socialBlock {
        width: 100%;
    }

    .mob_socialMedia_card {
        display: flex;
    }

    .mob_switch {
        left: 50px;
    }

    .mob_channel {
        margin-bottom: 10px;
    }

    .mob_channelDisplay {
        display: contents;
    }

    span.ttag.blackColor {
        background: #E0E1E2;
        margin-right: 5px;
        padding: 5px 10px;
        border-radius: 13px;
        font-size: 12px;
        line-height: 120%;
    }

    .web_socialmedia_youtube {
        display: none;
    }

    .mob_gender {
        margin-top: 15px;
        height: 20px;
    }

    .form-group {
        margin-right: 0;
    }

    .mob_shadow {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    .mob_text {
        font: normal normal normal 13px/21px Lato;
    }

    .mob_margin {
        margin-left: 15px;
    }

    .mob_top {
        margin-top: 15px;
        width: 100%;
    }

    .mob_marginTop {
        margin-top: 0;
    }

    .web_campaign_detail_header {
        display: none;
    }

    .mob_campaign_detail_header {
        position: fixed;
        top: 50px;
        left: 0px;
        right: 0px;
        flex-wrap: nowrap;
        width: 100vw;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        background: #f5f5f5;
    }

    .mob_campaign_detail_header_rignt {
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mob_campaign_detail_body {
        margin-top: 110px;
    }

    .mob_margin {
        margin-left: 0px;
    }

    .mob_card_sample {
        width: 100%;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
    }

    .mobile_date-margin {
        margin-top: 5px;
    }

    .mobile-searchbar {
        margin-right: 0;
        margin-top: 20%;
        margin-bottom: 10px;
    }

    .mob_influencer {
        margin-top: 20px;
    }

    .mob_influencer_image {
        margin-top: 40px;
    }

    .mob_social_card {
        background-color: red;
        display: block;
    }

    .mob_tab {
        width: 100px;
    }

    .mob_card_view {
        width: 380px;
    }

    .mob_channel_view {
        display: inline-grid;
    }

    .mob_channel_view_card {
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }

    span.channel {
        background: #E0E1E2;
        border-radius: 13px;
        padding: 5px 7px;
        margin-right: 2px;
        font-size: 12px;
        color: #000;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .mob_card_margin {
        padding-left: -50px;
    }

    .mob_new_card {
        width: 320px;
    }

    .ant-modal-body {
        /*width: 283px;*/
    }

    .span.yellowtab {
        background: #CACACA;
        padding: 2px 30px;
        border-radius: 50px;
        font-size: 13px;
        display: inline-block;
        line-height: 160%;
    }

    span.yellowtab {
        background: #CACACA;
        padding: 0 15px;
        border-radius: 50px;
        font-size: 13px;
        display: inline-block;
        line-height: 160%;
    }

    .mob_genre {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .campaignBudget {
        display: inline-table;
        text-align: left;
    }

    .mob_label_profile {
        margin-bottom: 20px;
    }

    .mob_progress {
        top: -25px;
    }

    .mob_infu_profile {
        top: -40px;
    }

    .mobile_fb {
        display: contents;
    }

    .mob_input {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .rightside {
        display: none;
    }

    .upcoming_camp_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 50px;
        z-index: 2;
        background-color: rgb(245, 245, 245);
        left: 0px;
        right: 0px;
    }

    .header_right {
        display: flex;
        align-items: center;
        margin-right: 0px;
    }

    .upcomingCampaignHeader {
        display: none;
    }

    .searchWraps input {
        min-width: 80vw;
        color: #00000066;
        font-size: 14px;
        margin-left: 20px;
    }

    .mob_audio {
        width: 250px;
    }

    .web_header {
        margin-left: 0;
    }

    .web_create_button {
        margin-right: 0;
    }

    .image_margin {
        margin-right: 5px;
        margin-left: 5px;
    }

    .social-icon-model {
        margin-right: 3px;
    }

    .age-group {

    }

    .gender-group {
        margin-left: 20px;
    }

    .gender-margin {
        margin-left: 15px;
    }

    .age-margin {
        margin-left: -10px;
    }

    .mob_progress_hide {
        display: none;
    }

    .web_side {
        position: relative;
        padding-bottom: 70px;
        margin-top: -25px;
    }

    .mob_progress {
        margin-top: 100px;
    }

    .padding-left {
        padding-left: 15px;
    }

    .padding-0 {
        padding: 0px;
    }

    .padding-Right-10 {
        padding-right: 10px
    }

    .padding-Left-10 {
        padding-left: 10px;
    }

    .padding-Horizontal-left {
        padding-left: 20px;
        padding-right: 20px
    }

    .padding-Horizontal-left-campaign-crete {
        padding-left: 20px;
        padding-right: 20px
    }

    .padding-Horizontal-right {
        padding-left: 20px;
        padding-right: 20px
    }

    .faq_mob {
        /* margin-top: 50px; */
    }

    .mob_faq_header {
        margin-top: 50px;
    }

    .upcoming_camp_header_first,
    .upcoming_camp_header_filtor {
        background-color: rgb(245, 245, 245);
        width: '100vw';
        display: flex;
        margin-left: -5px;
        justify-content: space-between;
    }

    .mob_campaign_upcoming_back {
        margin-left: 5px;
    }

    .mob_payment {
        padding-top: 40px !important;
    }

    .mob_influencer_dashboard {
        margin-top: 40px !important;
    }

    .menusub .col-md-6:first-child {
        border-right: 0px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .menusub .col-md-6:first-child {
        margin-bottom: 0px;
    }

    .mob_influencer_dashboard_progress {
        margin-left: 0px;
    }
    .web_table_body {
        display: none
    }
    .mob_invoice_modal_footer {
        width: 100%
    }
}

@media only screen and (max-width: 620px) {
    .mob_step2 {
        margin-left: -160px;
    }

    .mob_step3 {
        margin-left: -170px;
    }

    .mob_step4 {
        margin-left: -310px;
    }

    .mob_campaign_detail_header {
        flex-direction: column;
    }

    .mob_campaign_detail_header_rignt {
        justify-content: flex-end;
        display: flex;
        margin-right: 15px;
        align-items: center;
        margin-bottom: 10px;
    }

    .mob_campaign_detail_body {
        margin-top: 140px;
    }

    .reports-main-view {
        width: 100%;
        flex-direction: column;
        margin-top: 70px;
        margin-left: 10px;
    }

    .reports-left-view {
        width: 100%;
    }

    .reports-right-view {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .reports-right-card-main-view {
        display: flex;
        flex-wrap: wrap;
        background-color: #ffffff;
        justify-content: space-around;
    }

    .reports-right-card-view {
        width: 100%
    }

    .reportScrollBar {
        height: auto;
    }
}

@media only screen and (max-width: 575px) {
    .padding-Horizontal-0 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .extendDateDiv {
        width: 250px;
    }

    .mob_invoice_table_responsive {
        overflow: scroll;
        width: 90vw;
    }
    .tableBorder {
        overflow: scroll;
    }
    /*.ant-modal-footer {*/
    /*    margin-bottom: 80px;*/
    /*}*/
}
