.signin_page_container_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.signin_page_container_block--block_container {
    background-color: #fff;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px 0px #707070;
}

.signin_page_container_block--block_container--block_elem1 {
    margin-bottom: 20px;
}

.signin_page_container_block--block_container--block_elem2 {
    font-weight: 700;
    color: black;
}

.signin_page_container_block--block_container2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.signin_page_container_block--block_container--block_elem3 {
    width: 25vw;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    background-color: #F2F2F2;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
}

.signin_page_container_block--block_container--block_elem4 {
    margin-top: 20px;
    width: 10vw;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #CD0F1B;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.signin_page_container_block--block_container3 {
    display: flex;
}

.signin_page_container_block--block_container4 {
    color: #fff;
    padding: 30px;
    background-color: #CD0F1B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px 0px #707070;
}

.signin_page_container_block--block_container--block_elem5 {
    font-size: xx-large;
    font-weight: 600;
}

.signin_page_container_block--block_container--block_elem6 {
    font-size: small;
}

.signin_page_container_block--block_container--block_elem7 {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    color: black;
    padding: 5px;
    width: 10vw;
    font-size: small;
    cursor: pointer;
}

.signup_page_container_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.signup_page_container_block--block_container {
    background-color: #CD0F1B;
    border-top-left-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px 0px #707070;
    height: 85vh;
    overflow: auto;
}

.signup_page_container_block--block_container--block_elem1 {
    font-size: xx-large;
    font-weight: 600;
    color: #fff;
}

.signup_page_container_block--block_container--block_elem2 {
    color: #fff;
}

.signup_page_container_block--block_container--block_elem3 {
    margin-top: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
}

.signup_page_container_block--block_container2 {
    display: block;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.signup_page_container_block--block_container3 {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.signup_page_container_block--block_container4 {
    padding-right: 10vw;
}

.signup_page_container_block--block_container3---block_elem1 {
    padding: 5px;
    padding-right: 20px;
    color: #fff;
    font-weight: 500;
    outline: none !important;
    border: none;
    background-color: #CD0F1B;
    cursor: pointer;
}

.signup_page_container_block--block_container3---block_elem1:focus, .signup_page_container_block--block_container3---block_elem1:active {
    background-color: #fff;
    color: black;
    padding-left: 7vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.signup_page_container_block--block_container5 {
    box-shadow: 0px 0px 3px 0px #707070;
    height: 85vh;
    overflow: auto;
}

.Influencer_SignUp_block {
    width: 40vw;
    margin: 20px;
}

.Influencer_SignUp_block--block-container {
    float: left;
    margin-top: 10px;
}

.Influencer_SignUp_block--block-container--block-label {
    display: block;
    padding-bottom: 5px;
}

.Influencer_SignUp_block--block-container--block-input {
    display: block;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 4px;
    margin-right: 40px;
    width: 16vw;
    padding: 5px;
}

.Influencer_SignUp_block--header-text {
    color: black;
    font-size: large;
    font-weight: 600;
}

.Influencer_SignUp_block--block-container--block-input1 {
    display: block;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 4px;
    margin-right: 40px;
    width: 35vw;
    padding: 5px;
}

.Influencer_SignUp_block--block-container--footer-button {
    float: right;
}

.Influencer_SignUp_block--block-container--footer-button-cancel {
    margin: 10px;
    margin-top: 40px;
    outline: none;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
}

.Influencer_SignUp_block--block-container--footer-button-register {
    margin: 10px;
    margin-top: 40px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #CD0F1B;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
}

.Influencer_SignUp_block--block-container--footer-button-sendOtp {
    outline: none;
    border: none;
    color: #fff;
    background-color: #CD0F1B;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
}

.home-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('../2301.png');
}

.home-container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.home-container--block-container {
    opacity: 1;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #707070;
    z-index: 2;
}

.home-container--block-container--text {
    color: #CD0F1B;
    font-size: 60px;
}

.home-container--block-container2 {
    margin-top: 7vh;
    display: flex;
}

.home-container--block-container2--elem {
    margin-right: 20px;
    width: 10vw;
    padding: 5px;
    border-radius: 5px;
    outline: none !important;
    border: none;
    background-color: #CD0F1B;
    box-shadow: 0px 0px 2px 0px #707070;
    color: #fff;
    cursor: pointer;
}

.home-page {
    background-image: url('../2301.png');
    backdrop-filter: blur(50px);
    border: 1px solid #707070;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.home-page-block-container {
    background-color: #fff;
}

.home-page:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.80);
    z-index: 1;
}

.wordText {
    font-size: 14px;;
}

.labelText {
    font-size: 12px;;
}

.signBtn {
    background-color: #CD0F1B;
}

.welcomeText {
    font-size: 40px;
    color: #fff;
    line-height: 110%;
}

.text-white {
    color: #fff !important;
    font-size: 16px;
    line-height: 210%;
}

.loginPage {
    background: #CD0F1B 0% 0% no-repeat padding-box;
}

.signupwrap {
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 5;
}

button.rounded.bg-white.text-dark {
    border-color: transparent;
    padding: 0 36px;
    color: #000 !important;
    font-size: 16px;
    line-height: 38px;
    border-radius: 6px !important;
}

button.redButton.signupbtn {
    line-height: 38px;
    padding: 0 25px;
    border-radius: 6px !important;
    font-size: 16px;
}

button.cancel-btn.signupcanclbtn {
    line-height: 38px;
    padding: 0 25px;
    margin-right: 0;
}

.Loginwrap .row-4 {
    width: 65%;
}

.wordText {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 160%;
    margin: 25px 0 20px 0;
}

label.labelText {
    font-size: 12px;
    line-height: 160%;
    color: #333333DE;
    font-weight: bold;
    margin-bottom: 5px;
}

span.normalText {
    font-size: 24px;
    font-weight: bold;
    line-height: 160%;
}

p.normalparaText {
    font-size: 16px;
    line-height: 140%;
}

.input-group span.mdi {
    position: absolute;
    font-size: 20px;
    z-index: 3;
    left: 10px;
    top: 12px;
    color: #00000080;
    font-weight: normal;
}

.input-group .form-control.rounded {
    padding: 16px 0 20px 40px;
    position: relative;
    background: #0000000D 0% 0% no-repeat padding-box;
    border: 1px solid #DEDEDF;
    border-radius: 4px;
    color: #0000000D;
    font-size: 14px;
    color: #00000080;
}

button.redButton.myloginbtn {
    padding: 0 25px;
}

.Loginwrap span.h5 {
    color: #00000066;
    font-size: 14px;
    line-height: 160%;
}

.usrIcn {
    background: url('../user.png');
}

.imageRound {
    border-radius: 20px;
}

.normalText {
    font-size: 21px;
}

.info_backGround {
    background-color: #F8FFFF;
}

.reachBackground {
    background-color: #F3F4F4;
}

.btn-smallRed {
    border: none;
    outline: none;
    background-color: #CD0F1B;
}

.stepCurrent {
    border: #CD0F1B solid 1px;
    font-size: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    color: #CD0F1B;
    padding: 0px;
    line-height: 46px;
    text-align: center;
}

.stepWait {
    font-size: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    color: #000000;
    padding: 0px;
    line-height: 46px;
    border: #707070 solid 1px;
    text-align: center;
}

.stepComplete {
    font-size: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #CD0F1B;
    color: #fff;
    padding: 10px;
    font-size: 0 !important;
    position: relative;
}

.backgroundImage {
    position: relative;
    background-image: url('../2301.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
}

.backgroundImage::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.70);
}

.Loginwrap {
    z-index: 9 !important;
    position: fixed !important;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.Loginwrap .shadow {
    padding: 70px 40px;
}

.headingTitle {
    font: normal normal normal 12px/16px Lato;
    color: #000000;
    margin-top: 5px;
}

.roundedShadow {
    border-radius: 10px;
}

.budgetText {
    font-size: 12px;
}

.budgetInput {
    background-color: #F3F4F4;
    border: none;
    outline: none;
    color: #DB2828;
}

button.RedButton, button.RedButton:hover, button.RedButton:visited, a.RedButton {
    background: #DB2828;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    padding: 0px 50px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    font: normal normal normal 14px/17px Lato;
}

button.add_btn, a.add_btn {
    background: #DB2828;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    padding: 0 50px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    font: normal normal normal 14px/17px Lato;
}

button.RedBorderButton, button.RedBorderButton:hover, button.RedBorderButton:visited, a.RedBorderButton {
    border: #DB2828 solid 1px;
    background-color: #fff;
    border-radius: 4px;
    color: #000000B3;
    padding: 0px 50px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    font: normal normal normal 14px/17px Lato;
    opacity: 1;

}

button.BlackBorderButton, button.BlackBorderButton:hover, button.BlackBorderButton:visited, a.BlackBorderButton {
    border: #00000080 solid 1px;
    background-color: #fff;
    border-radius: 4px;
    color: #00000080;
    padding: 0px 50px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    font: normal normal normal 14px/17px Lato;
    opacity: 1;
}

.termsRoundedShadow {
    box-shadow: 0px 3px 6px #9DCEFF29;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    margin-bottom: 10px;
}

.termsRoundedShadow:last-child {
    margin-bottom: 0;
}

.termsInput {
    outline: none;
    border: none;
    border-radius: 50% !important;
    font-size: 12px;
    color: #00000099;
}

.crossImage {
    width: 25;
    height: 25;
}

.tagsSelected {
    cursor: pointer;
    background-color: #E0E1E2;
}

.tagsSelected:focus, .tagsSelected:active, .tagsSelected::selection, .tagsSelected:visited {
    background-color: #DB2828;
    cursor: pointer;
    color: #fff;
}

.budgetSection {
    background-color: #DB2828;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    position: fixed;
    top: 70px;
    left: 0;
    min-height: 205px;
}

#multiselectContainerReact span.chip {
    display: none;
}

.rounded-box {
    border-radius: 1rem;
}

button.px-3.py-2.m-3.rounded.border.bg-light.text-dark.btn.btn-primary {
    border: none;
    background: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    margin-right: 5px;

}

/*--------30102020--------*/
.Loginwrap span.required {
    margin-left: 0;
    font-size: 12px;
}

.Loginwrap .form.input-group {
    position: relative;
}

.Loginwrap .form.input-group .required {
    position: absolute;
    top: -9px;
    left: 0;
}


/* date-inline */
.datePartition > div > div {
    max-width: 100% !important;
    font-size: 14px;
}

.datePartitionCampaign > div > div {
    max-width: 30% !important;
    font-size: 14px;
    margin-left: -10px;
}


.upcomingCampaign .datePartition > div > div {
    font-size: 12px;
}

.upcomingCampaign .datePartition > div > div {
    font-size: 12px;
}

/* preview page */
.breadcumb {
    background: #f5f5f5;
}

.breadcumb a {
    padding: 10px 10px;
    display: inline-block;
    vertical-align: top;
}

.breadcumb a:hover {
    background: #e9e9e9;
}

.breadcumb span {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding: 9px 0;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.margin-btm-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.rounded {
    border-radius: .25rem !important;
}

.campaign-container {
    background: #fafafa;
}

.bg-white {
    background: #fff;
}

.campaign-container .images img {
    width: 100%;
}

.camp-name {
    padding: 10px;
}

.camp-name .left {
    float: left;
}

.camp-name .right {
    float: right;
}

.camp-name:after {
    content: "";
    display: table;
    clear: both;
}

.camp-name .name {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.camp-name .left p {
    margin-bottom: 10px;
    font-size: 13px;
}

.camp-name .right a {
    border: 1px solid #d4303a;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 0px;
    display: block;
}

.camp-name .right a:hover {
    background: #d4303a;
}

.p-d-4 {
    padding: 15px;
}

.name.des {
    font-size: 14px;
    margin-bottom: 10px;
}

.detail-outer:after {
    content: "";
    display: table;
    clear: both;
}

.detail-outer > div {
    float: left;
    width: 32%;
    margin-bottom: 25px;
}

.trms-conditions p {
    margin-bottom: 15px;
}

.tags-outer ul:after {
    content: "";
    display: table;
    clear: both;
}

.tags-outer ul {
    list-style: none;
    padding: 0 0;
}

.tags-outer ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.tags-outer ul li a {
    display: block;
    padding: 5px 25px;
    border-radius: 30px;
    background: #e0e1e2;
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

.tags-outer ul li a:hover {
    background: #cd0f1b;
    color: #fff;
}

.video-outer ul:after {
    content: "";
    display: table;
    clear: both;
}

.video-outer ul {
    list-style: none;
    margin: 25px 0 0;
    padding: 0 0;
}

.video-outer ul li {
    width: 100%;
    margin-right: 15px;
    background: #6d6d6d;
    float: left;
    padding: 12px 35px 12px 20px;
    border-radius: 10px;
    position: relative;
}

.video-outer ul li:last-child {
    margin-right: 0;
}

.video-outer ul li p {
    color: #fff;
    font-size: 12px;
}

.video-outer ul li p.title {
    font-size: 13px;
    margin-bottom: 5px;
}

.video-outer ul li:after {
    content: "";
    display: block;
    clear: both;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    right: 11px;
}

.video-outer ul li.video-icon:after {
    background: #fff url(../play-icon.png) no-repeat center;
}

.video-outer ul li.down-icon:after {
    background: #fff url(../download-icon.png) no-repeat center;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.d-flex {
    display: flex !important;
}

.face-you-outer {
    margin-top: 13px;
    margin-left: 16px;
}

.face-you-outer .icon span {
    margin-right: 10px;
}

.face-you-outer .icon a {
    text-decoration: none;
    color: #000;
}

.fallowers-outer a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 4px 18px;
    border-radius: 30px;
    background: #e0e1e2;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
}

.fallowers-outer {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.make-pay-outer {
    background: #cd0f1b;
    margin-left: 16px;
    padding: 0;
}

.make-pay-outer p, .make-pay-outer a {
    color: #fff;
}

.total-cost-outer:after {
    content: "";
    display: table;
    clear: both;
}

.total-cost-outer .left {
    float: left;
}

.total-cost-outer .left .title {
    font-size: 12px;
    margin-bottom: 10px;
}

.total-cost-outer .left .price {
    font-size: 20px;
    margin-bottom: 14px;
}

.total-cost-outer .right {
    float: right;
}

.total-cost-outer .right a {
    background: #fff;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    padding: 6px 14px;
    border-radius: 4px;
    display: block;
    margin-top: 6px;
}

.total-cost-outer .right a:hover {
    background: #b80d18;
    color: #fff;
}

.total-cost-outer .chk span {
    color: #fff;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
}

.total-cost-outer {
    padding: 15px;
}

.totle-reach {
    background: #b80d18;
    padding: 14px 15px;
    color: #fff;
    border-radius: 0 0 .25rem .25rem;
}

.totle-reach span {
    color: #fff;
}

.close-video {
    z-index: 99;
    color: #fff;
    position: relative;
    margin-right: 0;
}

.video-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.font-16 {
    font-size: 16px;
}

.color-rgba-50 {
    color: rgba(0, 0, 0, 0.50);
}

.margin-btm-25 {
    margin-bottom: 25px;
}

.create-camp-title {
    font: normal normal bold 13px/16px Lato;
    margin-bottom: 5px;
    margin-top: 5px;
}

.padding-Right-20 {
    padding-right: 20px;
}
