.signin_page_container_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.signin_page_container_block--block_container {
    background-color: #fff;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px 0px #707070;
}

.signin_page_container_block--block_container--block_elem1 {
    margin-bottom: 20px;
}

.signin_page_container_block--block_container--block_elem2 {
    font-weight: 700;
    color: black;
}

.signin_page_container_block--block_container2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.signin_page_container_block--block_container--block_elem3 {
    width: 25vw;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    background-color: #F2F2F2;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
}

.signin_page_container_block--block_container--block_elem4 {
    margin-top: 20px;
    width: 10vw;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #CD0F1B;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.signin_page_container_block--block_container3 {
    display: flex;
}

.signin_page_container_block--block_container4 {
    color: #fff;
    padding: 30px;
    background-color: #CD0F1B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px 0px #707070;
}

.signin_page_container_block--block_container--block_elem5 {
    font-size: xx-large;
    font-weight: 600;
}

.signin_page_container_block--block_container--block_elem6 {
    font-size: small;
}

.signin_page_container_block--block_container--block_elem7 {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    color: black;
    padding: 5px;
    width: 10vw;
    font-size: small;
    cursor: pointer;
}

.signup_page_container_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.signup_page_container_block--block_container {
    background-color: #CD0F1B;
    border-top-left-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 4px 0px #707070;
    height: 85vh;
    overflow: auto;
}

.signup_page_container_block--block_container--block_elem1 {
    font-size: xx-large;
    font-weight: 600;
    color: #fff;
}

.signup_page_container_block--block_container--block_elem2 {
    color: #fff;
}

.signup_page_container_block--block_container--block_elem3 {
    margin-top: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
}

.signup_page_container_block--block_container2 {
    display: block;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.signup_page_container_block--block_container3 {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.signup_page_container_block--block_container4 {
    padding-right: 10vw;
}

.signup_page_container_block--block_container3---block_elem1 {
    padding: 5px;
    padding-right: 20px;
    color: #fff;
    font-weight: 500;
    outline: none !important;
    border: none;
    background-color: #CD0F1B;
    cursor: pointer;
}

.signup_page_container_block--block_container3---block_elem1:focus, .signup_page_container_block--block_container3---block_elem1:active {
    background-color: #fff;
    color: black;
    padding-left: 7vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.signup_page_container_block--block_container5 {
    box-shadow: 0px 0px 3px 0px #707070;
    height: 85vh;
    overflow: auto;
}

.Influencer_SignUp_block {
    width: 40vw;
    margin: 20px;
}

.Influencer_SignUp_block--block-container {
    float: left;
    margin-top: 10px;
}

.Influencer_SignUp_block--block-container--block-label {
    display: block;
    padding-bottom: 5px;
}

.Influencer_SignUp_block--block-container--block-input {
    display: block;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 4px;
    margin-right: 40px;
    width: 16vw;
    padding: 5px;
}

.Influencer_SignUp_block--header-text {
    color: black;
    font-size: large;
    font-weight: 600;
}

.Influencer_SignUp_block--block-container--block-input1 {
    display: block;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 4px;
    margin-right: 40px;
    width: 35vw;
    padding: 5px;
}

.Influencer_SignUp_block--block-container--footer-button {
    float: right;
}

.Influencer_SignUp_block--block-container--footer-button-cancel {
    margin: 10px;
    margin-top: 40px;
    outline: none;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
}

.Influencer_SignUp_block--block-container--footer-button-register {
    margin: 10px;
    margin-top: 40px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #CD0F1B;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
}

.Influencer_SignUp_block--block-container--footer-button-sendOtp {
    outline: none;
    border: none;
    color: #fff;
    background-color: #CD0F1B;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 5px;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
}

.home-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('../2301.png');
}

.home-container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.home-container--block-container {
    opacity: 1;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #707070;
    z-index: 2;
}

.home-container--block-container--text {
    color: #CD0F1B;
    font-size: 60px;
}

.home-container--block-container2 {
    margin-top: 7vh;
    display: flex;
}

.home-container--block-container2--elem {
    margin-right: 20px;
    width: 10vw;
    padding: 5px;
    border-radius: 5px;
    outline: none !important;
    border: none;
    background-color: #CD0F1B;
    box-shadow: 0px 0px 2px 0px #707070;
    color: #fff;
    cursor: pointer;
}

.home-page {
    background-image: url('../2301.png');
    backdrop-filter: blur(50px);
    border: 1px solid #707070;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.home-page-block-container {
    background-color: #fff;
}

.home-page:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.80);
    z-index: 1;
}

.wordText {
    font-size: 16px;
}

.labelText {
    font-size: 13px;
}

.signBtn {
    background-color: #CD0F1B;
}

.welcomeText {
    font-size: 40px;
    color: #fff;
    line-height: 110%;
}

.text-white {
    color: #fff !important;
    font-size: 16px;
    line-height: 210%;
}

.loginPage {
    background: #CD0F1B 0% 0% no-repeat padding-box;
}

.signupwrap {
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

button.rounded.bg-white.text-dark {
    border-color: transparent;
    padding: 0 36px;
    color: #000 !important;
    font-size: 16px;
    line-height: 38px;
    border-radius: 6px !important;
}

button.redButton.signupbtn {
    line-height: 38px;
    padding: 0 25px;
    border-radius: 6px !important;
    font-size: 16px;
}

button.cancel-btn.signupcanclbtn {
    line-height: 38px;
    padding: 0 25px;
    margin-right: 0;
}

.Loginwrap .row-4 {
    width: 65%;
}

.wordText {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    line-height: 160%;
    margin: 25px 0 20px 0;
}

label.labelText {
    font-size: 13px;
    line-height: 160%;
    color: #333333DE;
    font-weight: bold;
    margin-bottom: 5px;
}

span.normalText {
    font-size: 24px;
    font-weight: bold;
    line-height: 160%;
}

p.normalparaText {
    font-size: 16px;
    line-height: 140%;
}

.input-group span.mdi {
    position: absolute;
    font-size: 20px;
    z-index: 3;
    left: 10px;
    top: 10px;
    color: #00000080;
    font-weight: normal;
}

.input-group .form-control.rounded {
    padding: 10px 0 10px 40px;
    position: relative;
    background: #0000000D 0% 0% no-repeat padding-box;
    border: 1px solid #DEDEDF;
    border-radius: 4px;
    color: #0000000D;
    font-size: 14px;
    color: #B5B5B5;
}

button.redButton.myloginbtn {
    padding: 0 25px;
}

.Loginwrap span.h5 {
    color: #00000066;
    font-size: 14px;
    line-height: 160%;
}

.usrIcn {
    background: url('../user.png');
}

.imageRound {
    border-radius: 20px;
}

.normalText {
    font-size: 16px;
    font-size: 16px;
}

.info_backGround {
    background-color: #F8FFFF;
}

.reachBackground {
    background-color: #F3F4F4;
}

.btn-smallRed {
    border: none;
    outline: none;
    background-color: #CD0F1B;
}

.stepCurrent {
    border: #CD0F1B solid 1px;
    font-size: 12px;
    font-size: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    color: #CD0F1B;
    padding: 0px;
    line-height: 46px;
    text-align: center;
}

.stepWait {
    font-size: 12px;
    font-size: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    color: #000000;
    padding: 0px;
    line-height: 46px;
    border: #707070 solid 1px;
    text-align: center;
}

.stepComplete {
    font-size: 12px;
    font-size: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #CD0F1B;
    color: #fff;
    padding: 10px;
    font-size: 0 !important;
    position: relative;
}

.backgroundImage {
    position: relative;
    background-image: url('../2301.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
}

.backgroundImage::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.70);
}

.Loginwrap {
    z-index: 9 !important;
    position: fixed !important;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.Loginwrap .shadow {
    padding: 70px 40px;
}

.headingTitle {
    font-size: 12px;
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
}

.roundedShadow {
    border-radius: 10px;
    box-shadow: 0px 3px 6px #9DCEFF29;
}

.budgetText {
    font-size: 12px;
}

.budgetInput {
    background-color: #F3F4F4;
    border: none;
    outline: none;
    color: #DB2828;
}

button.RedButton, button.RedButton:hover, button.RedButton:visited, a.RedButton {
    background: #DB2828;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    padding: 0px 50px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-size: 14px;
}

button.RedBorderButton, button.RedBorderButton:hover, button.RedBorderButton:visited, a.RedBorderButton {
    border: #DB2828 solid 1px;
    background-color: #fff;
    border-radius: 4px;
    color: #000000;
    padding: 0px 50px;
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-size: 14px;
}

.termsRoundedShadow {
    box-shadow: 0px 3px 6px #9DCEFF29;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: -5px;
}

.termsRoundedShadow:last-child {
    margin-bottom: 0;
}

.termsInput {
    outline: none;
    border: none;
    border-radius: 50% !important;
    font-size: 12px;
    color: #00000099;
}

.crossImage {
    width: 25;
    height: 25;
}

.tagsSelected {
    cursor: pointer;
    background-color: #E0E1E2;
}

.tagsSelected:focus, .tagsSelected:active, .tagsSelected::selection, .tagsSelected:visited {
    background-color: #DB2828;
    cursor: pointer;
    color: #fff;
}

.budgetSection {
    background-color: #DB2828;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    position: fixed;
    top: 70px;
    left: 0;
    min-height: 100%;
}

#multiselectContainerReact span.chip {
    display: none;
}


button.px-3.py-2.m-3.rounded.border.bg-light.text-dark.btn.btn-primary {
    border: none;
    background: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    margin-right: 5px;

}
