.rec.rec-arrow {
    border-radius: 50;
}

.rec.rec-arrow:hover {
    border-radius: 50%;
}

.rec.rec-arrow {
    display: none;
}

.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}

.searchIconHover {
    cursor: pointer;
    color: #9A9A9A;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 0;
    height: 25px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
}

.searchIconHover:hover {
    cursor: pointer;
    background-color: red;
    color: #ffffff;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 0;
    height: 25px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.searchIcon {
    content: "\f002";
    position: absolute;
    top: 10;
    height: 25px;
    padding-top: 5px;
    right: 15px;
    bottom: 0;
    margin: auto;
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
    color: #9A9A9A;
}

.cursor-pointer {
    cursor: pointer;
}

.searchIconHover {
    cursor: pointer;
    color: #9A9A9A;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 10;
    height: 25px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
}

.searchIconHover:hover {
    cursor: pointer;
    background-color: red;
    color: #ffffff;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 10;
    height: 25px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
