.upcomingCampaign .row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.campaignBlock {
    border-radius: 15px;
    margin-top: 20px;
}

.campaignDetails {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 15px 15px;
}

.campaignDisableTabs {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 120%;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.campaignActiveTabs {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 120%;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 2px solid #bd000c;
}

.campaignImage {
    height: 180px;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    text-align: center;
    background-color: #ccc;
    overflow: hidden;
}

.campaignImage img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    /* width: 100%; */
    height: 100%;
}

.campaignDays {
    background: #F5BD07;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    line-height: 100%;
    border-radius: 10px;
}

.campaignDaysWrap {
    text-align: right;
}

.camoaignHours {
    font-size: 16px;
    margin-top: 20px;
}

.CampaignTitle {
    color: #999999;
    font-size: 14px;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.upcomingCampaignHeader {
    display: flex;
    line-height: 100%;
}

.right input.form-control {
    margin: 0 15px 0px 0;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.upcomingCampaignHeader h1 {
    line-height: 100% !important;
    margin-bottom: 0;
    /* display: inline-block; */
    /* float: none; */
    margin-top: 010px;
}

.filterHeader {
    display: flex;
}

.close {
    margin-left: auto;
}

.textColor {
    color: var(--text_color);
}

.filterHeader {
    color: #4D4D4D;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
}

.filterRow {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.filter {
    padding: 30px;
    background: #fff;
    transition: width 2s;
}

.filter.false {
    display: none;
}

.filter.true {
    display: block;
    margin-top: 35px;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    max-height: 90%;
    top: 74px;
    bottom: 10px;
}

.filterRow:last-child {
    padding: 0;
    border: 0;
    margin: 0;
    text-align: center;
}

.formGroup {
    margin-top: 10px;
}

.formGroup input {
    margin-top: 10px;
}

.formGroup input[type=checkbox] {
    margin-right: 10px;
}

input[type="reset"] {
    border: 2px solid #7F7F7F;
    background: #fff;
    color: #7F7F7F;
    font-weight: bold;
    padding: 10px 18px;
    line-height: 100%;
    border-radius: 5px;
    text-transform: capitalize;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

.searchWraps {
    position: relative;
    margin-right: 20px;
}

.searchWraps input.form-control {
    border-radius: 100px;
}

.searchIcon {
    content: "\f002";
    position: absolute;
    top: 0;
    padding-top: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
    color: #9A9A9A;
}

.cursor-pointer {
    cursor: pointer;
}

.searchIconHover {
    cursor: pointer;
    color: #9A9A9A;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 0;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
}

.searchIconHover:hover {
    cursor: pointer;
    background-color: red;
    color: #ffffff;
    font-size: 15px;
    content: "\f002";
    position: absolute;
    top: 0;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    right: 15px;
    bottom: 0;
    margin: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.upcomingCampaignHeader .right .searchWraps input {
    min-width: 275px;
    color: #00000066;
    font-size: 14px;
}

input[type="reset"]:hover {
    background-color: #7F7F7F;
    color: #fff;
}

input[type="submit"] {
    border: 2px solid var(--text_color);
    background: #fff;
    color: var(--text_color);
    font-weight: bold;
    padding: 10px 18px;
    line-height: 100%;
    border-radius: 5px;
    text-transform: capitalize;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: var(--text_color);
    color: #fff;
}

.rightside li input {
    border: none;
    background: none;
}

.rightside li {
    display: inline-block;
    list-style: none;
}

.rightside ul {
    display: inline-block;
    margin: 0;
}

section.subtitle {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    margin-left: 25px;
}

.rightside {
    margin-left: auto;
}

.rightside li a {
    color: #000;
    text-decoration: none;
    line-height: 120%;
    padding: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.rightside li a:hover {
    border-bottom: 2px solid #BD000C;
}

.createCampaignBtn {
    display: flex;
    background: rgba(0, 0, 0, 0.25);
    padding: 15px;
    font-size: 16px;
    line-height: 100%;
    MARGIN-LEFT: 15px;
}

.createCampaignBtn h5 {
    margin: 0;
}

.createCampaignBtn i {
    color: var(--text_color);
    margin-right: 5px;
}

.right i {
    font-size: 24px;
    color: #9A9A9A;
}

.createCampaignBtn a {
    color: #000;
    text-decoration: none;
}

.createCampaignBtn a:hover {
    color: var(--text_color);
}

.campaignName h5 {
    color: #000;
    font-weight: 900;
    text-transform: capitalize;
}

.projectName h5 {
    color: #00000099;
    text-transform: capitalize;
}

.datePartition {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.70);
}

.datePartition > div > div {
    max-width: 65px;
}


.datePartition > div {
    padding: 0;
    position: relative;
}

.endDate div {
    float: right;
}

.datePartition > div > div.CampaignTitle {
    max-width: 100% !important;
    width: 100%;
    margin-top: 20px;
}

.datePartitionCampaign > div > div.CampaignTitle {
    max-width: 100% !important;
    width: 100%;
    margin-top: 20px;
}

.datePartition p {
    color: var(--text_color);
}

.datePartitionCampaign p {
    color: var(--text_color);
}

.datePartition > div.startDate:after,
.datePartition > div.edate:after {
    content: '';
    width: 11px;
    height: 11px;
    border: 2px solid orange;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    right: 30px;
}

.datePartitionCampaign > div.startDate:after,
.datePartitionCampaign > div.edate:after {
    content: '';
    width: 11px;
    height: 11px;
    border: 2px solid orange;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    right: 60%
}


.datePartition > div.edate:after {
    left: 30px;
    right: auto;
}


.datePartitionCampaign > div.edate:after {
    left: 60%;
    right: auto;
}

.datePartition > div.startDate:before,
.datePartition > div.edate:before {
    content: '';
    width: 29px;
    border: 1px dashed;
    position: absolute;
    right: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
}

.datePartitionCampaign > div.startDate:before,
.datePartitionCampaign > div.edate:before {
    content: '';
    width: 60%;
    border: 1px dashed;
    position: absolute;
    right: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
}


.datePartition > div.edate:before {
    left: 0;
    right: auto;
}

.datePartitionCampaign > div.edate:before {
    left: 0;
    right: auto;
}

