.tableWidth {
    width: 100%;
}

.tableBorder {
    border: 1px solid lightslategrey;
    border-radius: 20px;
    padding: 5px;
}

.invoice-table-close-icon {
    margin-top: 0;
    width: 15px;
    height: 15px;
    margin-right: 0;
    cursor: pointer;
}

.paddingBottom {
    padding-bottom: 30px;
}

.border_bottom_invoice_table {
    border-bottom: 1px solid #e2e2e2;
}
