.campaign-prize-container {
    margin-top: 40px;
}

.campaign-prize-body-container {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    padding-bottom: 30px;
    padding-top: 10px;
}

.prize-budget-container {
    display: flex;
    justify-content: center;
}

.prize-container {
    background-color: #4FCF5E;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.budget-container {
    background-color: #00ACEA;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.prize-input-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
}

.prize-text {
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prize-header-text {
    display: flex;
    justify-content: center;
}

.prize-position {
    background-color: #4FCF5E;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.add-prize-container {
    border-radius: 10px;
    justify-content: center;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 2px 0px #707070;
}

.add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.prize-display-container {
    box-shadow: 0px 0px 2px 0px #707070;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.prize-dsiplay-text-container {
    border: 1px solid #cdcfd1;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
