.extendDateDiv {
    width: 550px;
}

.contentDiv {
    margin-bottom: 15px;
    /*height: 405px;*/
    flex: auto;
    /*display: contents;*/
}

.previousDeadlineDate {
    margin-top: 20px;
    margin-left: 15px;
}

.fontAlign {
    display: flex;
    align-items: center;
}
