.label-reports {
    display: flex;
    background-color: #f8f9fa;
}

.reports-main-view {
    width: 100%;
    display: flex;
    background-color: #fafafa;
}

.reports-left-view {
    width: 25%;
}

.reports-right-view {
    width: 70%;
    justify-content: space-between;
    margin-top: 63px;
}

.reports-right-card-main-view {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content: space-around;
}

.reports-right-card-view {
    width: 48%
}

.columnLeft {
    background: #e4e4e4;
}

.cardShadow {
    box-shadow: 0 3px 6px rgb(157 206 255 / 16%);
    border: 1px solid #f3f4f4;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.moreIcon {
    height: 20px;
}

.searchWraps {
    position: relative;
    margin-right: 20px;
}

.reportScrollBar {
    height: calc(100vh - 151px);
    overflow-y: scroll;
}

.positionFixed {
    position: fixed;
}

.totalReachText {
    font-weight: bold;
    color: red;
}

/*body::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/
