.campaign_budget-container {
    margin-top: 40px;
}

.campaign_budget-body-container {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    padding-bottom: 20px;
}

.campaign-budget-header-tabs {
    background-color: #273440;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    width: 20%;
}

.campaign-header-title {
    color: azure;
    font-size: small;
}

.campaign-budget-header-container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.campaign-budget-channel {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.campaign-budget-tabs1 {
    border-radius: 10px;
    background-color: #FF864D;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
}

.campaign-budget-tabs2 {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
}

.campaign-budget-tabs3 {
    border-radius: 10px;
    background-color: #4C71F0;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
}


.campaign-budget-tabs4 {
    border-radius: 10px;
    background-color: #4FCF5E;
    box-shadow: 0px 0px 2px 0px #707070;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-left: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
}

.campaign-budget-total {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 50%;
}

.campaign-budget-total-tabs {
    background-color: #273440;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.campaign-budget-total-amount {
    border-radius: 10px;
    background-color: #FF864D;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 30%;
}

.campaign-budget-accept-terms {
    background-color: #FF864D;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.make-payment-btn {
    outline: none;
    background-color: #4FCF5E;
    color: azure;
    font-size: medium;
    border: none;
    cursor: pointer;
}

.accept-terms-tick {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.accept-terms-tick-green {
    width: 5px;
    height: 5px;
    background-color: #3BB54A;
    border: 3px solid #fff;
    padding: 7px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.campaign-budget-footer-btn {
    display: flex;
    justify-content: center;
}

.campaign-budget-make-payment {
    background-color: #4FCF5E;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40%;
    display: flex;
    justify-content: center;
}
