/*
  #dark-grey: #333333;
  #medium-grey: #999999;
  #orange-highlight: #DFBD85;
  #medium-light-grey: #c4c4c4;
  #light-grey: #e0e0e0;
  #sandy-grey: #f2f1e8;
*/

.faq {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.faq_main {
    width: 99%;
}

.content {
    min-height: calc(100vh - 150px);
    max-width: 500px;
    margin: 5rem auto 0 auto;
    padding: 0 1rem;
}

.app-description {
    text-align: center;
}

.accordion_row {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.accordion_h3 {
    font-size: 1.75rem;
    margin: 0;
}

.accordion_button {
    display: flex;
    align-items: center;
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, #db2828, #aaa);
    border: none;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
}


.accordion_button:hover {
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, #db2828, #aaa);
}

.title-wrapper {
    display: block;
    position: relative;
    margin-left: 10px;
    font-size: 1.75rem;
    font-weight: bold;
}

.minus {
    content: url('../../assets/plus.svg');
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transition-timing-function: ease-in;
    transition: all 1s;
    margin-right: 10px;
}

.accordion_center_title {
    display: flex;
    align-items: center;
    width: 95%;
}

.accordion_center {
    display: flex;
    align-items: center
}

.plus {
    content: url('../../assets/line.svg');
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition-timing-function: ease-in;
    transition: all 1s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    margin-right: 10px;
}

.panel-close {
    background: #e0e0e0;
    box-sizing: border-box;
    padding: 0.5rem 1rem 0 1rem;
    opacity: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease-out;
    transition: all 1s;
}

.panel-open {
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    opacity: 1;
    width: 100%;
    height: auto;
    transition-timing-function: ease-in;
    transition: all 1s;
    font-size: 16px;
}

.panel p {
    margin: 0;
}

.footer {
    text-align: center;
    height: 50px;
}
