.welcome-page-container {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 40px;
    padding-bottom: 20px;
    padding: 20px;
}

.welcome-page-header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding-bottom: 30px;
}

.welcome-page-body {
    margin-top: 10px;
    font-size: medium;
    padding: 20px;
}
