#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.site-layout-background {
    background: #e4ecf7;
    padding-top: 10px;

}

.site-layout-background-1 {
    background: rgb(243, 242, 242);

    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.box-style {
    /* border: 1px solid black; */
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px 4px #ccc;
    -webkit-box-shadow: 0px 0px 4px 4px #ccc;
    box-shadow: 0px 0px 4px 4px #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.ant-menu-item.box-style.ant-menu-item-selected::after {
    border-right: none;
}

.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 15px;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: none;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
    color: #01070e;
}

.ant-menu-item-selected {
    color: #fff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #273440;
}

.ant-menu {
    background: #e4ecf7;
}

.header-asset-BrandLayout {
    display: flex;
    background-color: #e4ecf7;
    justify-content: center;
    padding: 20px;
}

li {
    padding-left: 10px !important;
}

.scrollBar {
    overflow-y: auto;
}

.modalStyle {
    padding-left: 880px;
    margin-top: -50px;
}

