.container-login {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

.form-login {
    padding-left: 40px;
    padding-right: 40px;
}

.email-input {
    width: 70%;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 4px 0px #707070;
    border-radius: 5px;
    padding-left: 10px;
    color: #707070;
    font-weight: 700;
}

.password-input {
    width: 70%;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 4px 0px #707070;
    border-radius: 5px;
    padding-left: 10px;
    color: #707070;
    font-weight: 700;
}

.forgot-password-text {
    display: flex;
    justify-content: start;
    padding-left: 17%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ff864d;
}

.btn-login {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    background-color: #4ECF5F;
    border: none;
    outline: none;
    color: #fff;
    font-size: medium;
    box-shadow: 0px 0px 3px 0px #707070;
    cursor: pointer;
}

.btn-login:active {
    top: 1;
}

.btn-create-new-account {
    background-color: #4ECF5F;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #707070;
    cursor: pointer;
}
