/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 24px;
    height: 24px;
    top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    display: none;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    margin-top: 45px;
    height: 100%;
    margin-right: 30px;
    margin-left: -30px;
}

/* General sidebar styles */
.bm-menu {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 1);
    margin-top: 45px;
}

/* Individual item */
.bm-item {
    display: inline-block;

    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
}

.bm-item:hover {
    color: #ffffff;
}


.userProfileImage {
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    border-radius: 50%;
    margin-top: 5px;
}

.userProfileImage img {
    width: 50px;
    height: 50px;
}

.p-horizontal {
    padding: 1em 1.5em 1em 1em;
}

.navbar__link--active {
    color: red;
}
