.container-campaign-time {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 20px;
}

.turn-around-time-container {
    border-radius: 10px;
    background-color: #707070;
    padding: 10px;
    align-self: center;
    margin-right: 40px;
}

.turn-around-time-deadline-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.deadline-checkboxes {
    background-color: #4C71F0;
    border-radius: 10px;
    padding: 20px;
}

.date-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 20px;
}

.add-another-platform {
    margin: 10px;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.add-another-platform-btn {
    color: white;
    background-color: #4FCF5E;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 50%;
}

.campaign-time-deadline {
    background-color: #4C71F0;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #fff;
    cursor: pointer;
}

.deadline-select-tick {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 2px;
}

.deadline-select-tick-green {
    background-color: #3BB54A;
    border: 3px solid #fff;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 2px;

}

.approve-profile-campaign-types {
    display: flex;
    width: 30%;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: #4C71F0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.campaign-time-approve-profile {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
