.container-campaign_detail {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 20px;
    padding-bottom: 20px;
}

.detail-feild-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.detail-feilds {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    width: 50%;
}

.detail-input-feild {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

.feild-text {
    align-self: center;
}

.detail-gender-container {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.details-gender {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    width: 90%;
}

.gender-text {
    margin-right: 30px;
    padding-top: 3px;
}

.gender_value {
    margin-right: 10px;
}

.dropdown-menu-campaign-detail {
    justify-content: center;
    display: flex;
}

.song-type-dropdown {
    background-color: #4C71F0;
    width: 15%;
    justify-content: space-between;
    display: flex;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

