.container-choose-create-project {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 20px;
}

.project-dropdown-choose-create-project {
    display: flex;
    justify-content: center;
    border: 1px #d4d4d4 solid;
    border-radius: 10px;
    margin-left: 20px;
}

.input-feild-choose-create-project {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
}

.ant-input {
    border-radius: 7px;
    height: 50px;
}

.choose-create-campaign-name-error {
    margin-top: 10px;
}

.campaign-name-available {
    color: #4FCF5E;

}

.campaign-name-not-avaliable {
    color: #FF864D;
}

.project-choose-create-label-input {
    display: flex;
    justify-content: center;
    margin: 5%;
    align-items: center;
}

.Choose-create-project-label {
    font-size: medium;
    color: #707070;
}
