.radio-content-brand {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
}

.company-type-brand {
    color: #707070;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
}

.div-brand {
    display: inline-block;
    width: 50%;
}

.size-box-brand {
    width: 100%;
}

.label-brand {
    display: block;
    margin: 10px;
    cursor: pointer;
    margin-top: 10px;
    background: white;
    border-radius: 20px;
    padding: 1rem;
    color: #606060;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px -2px #707070;
    position: relative;
}

.radio-content-brand > div {
    padding: 5px;
}

input[type="radio"] {
    display: none;
}

:not(:disabled) ~ label {
    cursor: pointer;
}

:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
}

input[type="radio"]:checked + span {
    background: hsla(215, 0%, 100%, 1);
    color: hsla(150, 75%, 50%, 1);
    /* box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75); */
    text-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
}

@media only screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
}

