.container-socialmedia {
    background-color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 2px 0px #707070;
    -webkit-box-shadow: 0px 0px 2px 0px #707070;
    box-shadow: 0px 0px 2px 0px #707070;
    margin-top: 40px;
    padding-bottom: 30px;
}

.option-SocialMedia_card {
    display: flex;
    justify-content: center;
}

.option-container {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.option-text {
    color: white;
    margin-right: 30px;
    padding-top: 2px;
}

.budget-socialmedia {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.budget-headin-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.budget-option-select {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.budget-checkboxes {
    background-color: #4C71F0;
    border-radius: 10px;
    padding: 20px;
}

.follower-container {
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px #707070;
    padding: 15px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.follower-text {
    padding-right: 10px;
}

.checkbox-option {
    padding-top: 12px;
    display: flex;
    justify-content: center;
}

.input-budget {
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.budget-input {
    width: 20%;
    margin-left: 40px;
}

.budget-input-text {
    color: #fff;
    align-self: center;
    font-size: large;
}

.follower-reach {
    background-color: #4C71F0;
    width: 20%;
    margin: 10px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
}

.follower-reach-text {
    display: flex;
    justify-content: center;
}

.followers-reached {
    display: flex;
    justify-content: center;
}

.follower-reach-budget {
    background-color: #4C71F0;
    width: 60%;
    margin: 10px;
    margin-left: 20px;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
}

.ant-radio-inner::after {
    background-color: hsla(150, 75%, 50%, 1);
}

.checkbox-design {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0px 0px 3px 0px #707070;
}

.checkbox-design-other {
    box-shadow: 0px 0px 3px 0px #707070;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.follower-container-row1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.follower-container-row2 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding-left: 20%;
}

.follower-container-checkbox-text {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.socialmedia-card-footer-btn-container {
    display: flex;
    justify-content: center;
}
