* {
    box-sizing: border-box;
}

.slider {
    width: 100%;
    text-align: center;
    /* overflow: hidden; */
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;


    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    background: #e4ecf7;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    margin-top: 20px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .slider > a {
  display: inline-flex;
  background: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
} */
