.current-filter-section {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.current-filter-tab {
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.current-filter-text-tab {
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
    background-color: #273440;
    color: azure;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.current-header-container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.current-header-tabs {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 110px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.current-header-title {
    font-size: small;
}
