.App {
    text-align: center;
}

button:active, button.active, .open > button {
    outline: none !important;
    box-shadow: none !important;
}

/* button:hover {
  background-color: #00000066 !important;
  border: 1px solid transparent !important;
  outline: none !important;
  box-shadow: none !important;
} */
button:disabled {
    background-color: #00000066 !important;
    color: #ffffff !important;
    border: 1px solid transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

input:focus, input.form-control:focus,
select:focus, select.form-control:focus,
textarea:focus, textarea.form-control:focus,
button:focus, button.form-control:focus {
    border: 1px solid #DEDEDF;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input .termsInput:focus, input .termsInput:hover {
    border: 0px;
}

html {
    --antd-wave-shadow-color: #ffffff !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-selector:focus, .ant-select-selector:hover,
.ant-checkbox-input:hover,
[class^=ant-] *::after,
.ant-checkbox-inner {
    border-color: #DEDEDF !important;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.ant-checkbox-wrapper-checked .ant-checkbox-checked .ant-checkbox-inner {
    background-color: red;
}

.ant-modal-wrap {
    z-index: 999999 !important;
}
