.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content {
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
}

.ant-modal {
    width: 100%;
    justify-content: center;
    display: inline-flex;
}

.ant-modal-centered .ant-modal {
    top: 0;
    display: inline-flex;
    vertical-align: sub;
}
