.steps-content {
    /* margin-top: 30px; */
    /* border: 1px solid #e9e9e9; */
    /* border-radius: 40px; */
    /* background-color: #ffffff; */
    min-height: 400px;
}

.steps-action {
    /* top: calc( 100vh - 20px ); */
    margin-top: calc(100vh - 60px);
}

div.ant-steps-item-title {
    display: none;
}

div.ant-steps-item-icon {
    border: 2px solid black;
}

.ant-steps:not(.ant-steps-vertical) .ant-steps-item-custom .ant-steps-item-icon {
    width: 50px;
    border: 1px solid black;
}

div[style] {
    /* background: #e4ecf7 !important; */
}

button.ant-btn.ant-btn-primary {
    float: right;
    background-color: #DB2828;
    border-color: #DB2828;
    margin-right: 20px;
    color: #FFFFFF;
}

.ant-modal-footer {
    height: auto;
    /* display: none; */
    margin-top: 30px;
}

button.ant-btn {
    float: right;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    margin-right: 20px;
    color: #000000;
}

.header-icon-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 10px;
}

.header-steps-icon-style {
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
}

.header-steps-arrow-style {
    margin-left: 5px;
    vertical-align: middle;
    margin-top: 30px;
}

.header-image-btn-style {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.header-step-navigation-bar {
    display: flex;
    background-color: #fff;
    justify-content: center;
    border-radius: 20px;
    z-index: 10;
}
